<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ambulante/padrao/style.css">
    <link rel="stylesheet" href="/ambulante/Recibos/assets/style.css">
    <title>Recibos</title>
</head>

<body>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/ambulante/padrao/img/voltar.png" id="voltar"></a>
    </header>

    <img src="/ambulante/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicialB" class="active" id="NavInicio"><img src="/ambulante/padrao/img/HomeClick.png">Inicio</a>
            <a href="/dados" class="active" id="NavReserva"> <img src="/ambulante/padrao/img/dados.png" alt="">Dados</a>
            <a href="/CluberJSON/ClubeB" class="active" id="NavPedido"> <img src="/ambulante/padrao/img/clube.png"
                    alt="">Clube</a>
            <a href="/comanda" class="active" id="NavPerfil"> <img src="/ambulante/padrao/img/comanda.png"
                    alt="">Comanda</a>
            <a href="/perfilB" class="active" id="NavPerfil"> <img src="/ambulante/padrao/img/perfil.png"
                    alt="">Perfil</a>
        </nav>
    </div>

    <section class="Titulo">
        <h2>Histórico</h2>
        <p>Seu histórico vendas</p>
    </section>

    <container id="unclicked">
        <div class="pasta">
            <div id="pedido" class="Spasta" onclick="PedidosClick()">
                <p>Pedidos</p>
            </div>
            <div id="reserva" class="Spasta" onclick="ReservasClick()">
                <p>Reservas</p>
            </div>
        </div>
        <div class="form">

        </div>
    </container>

    <container id="clicked">
        <div class="pastaC">
            <div id="pedidoC" class="SpastaC">Pedidos</div>
            <div id="reservaC" class="SpastaC">Reservas</div>
        </div>
        <div class="pesquisa">
            <div id="slcTutorial">
                <select name="carrinhos" id="sltBarraca">
                    <option value="default" disabled selected>Escolha um carrinho</option>
                    <% carrinhos.forEach(carrinho=> { %>
                        <option value="<%= carrinho.cd_carrinho %>">
                            <%= carrinho.nm_carrinho %>
                        </option>
                        <% }) %>
                </select>
            </div>
            <div id="filtrar" oncanplay="Filtro()">
                <p>Filtrar</p>
                <img src="ambulante/Recibos/assets/img/filtro.png" alt="">
            </div>
        </div>
        <section id="formReserva">
            <div class="ajuste" id="reservas">
            </div>
        </section>

        <section id="formPedido">
            <div class="ajuste" id="pedidos">

            </div>
        </section>
    </container>

    <section id="filtro">
        <div class="blurFilter"></div>
        <div class="filter">
            <h2>Filtrar por</h2>
            <div class="valor">
                <p class="choice">Valor</p>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="options" value="menor150">
                        <span>menor que 150</span>
                    </label>
                    <label>
                        <input type="radio" name="options" value="160a200">
                        <span>de 160 a 200</span>
                    </label>
                    <label>
                        <input type="radio" name="options" value="maior300">
                        <span>maior que 300</span>
                    </label>
                </div>
            </div>
            <div class="data">
                <p class="choice">Data</p>
                <div class="input">
                    <input type="date" id="date-filter" class="date-field" name="date-from">
                </div>
            </div>
            <div class="AjusteBtn">
                <div class="limpar">Limpar filtro</div>
                <div class="aplicar">Aplicar filtro</div>
            </div>
        </div>
    </section>

    <section id="modalBk">
        <div class="modal">
            <div class="ajusteModal">
                <h1>Filtrar por</h1>
                <p>Valor</p>
                <div class="radio">
                    <label class="Radios">
                        <input type="radio" name="valor" class="inputR">
                        <span class="btnR">menor que 150</span>
                    </label>
                    <label class="Radios">
                        <input type="radio" name="valor" class="inputR">
                        <span class="btnR">de 160 á 200</span>
                    </label>
                    <label class="Radios">
                        <input type="radio" name="valor" class="inputR">
                        <span class="btnR">maior que 300</span>
                    </label>
                </div>
                <p>Data</p>
                <input type="date" name="" id="">
            </div>

            <div class="btns">
                <div id="btnL">Limpar Filtros</div>
                <div id="btnF">Aplicar filtros</div>
            </div>
        </div>
    </section>


    <script src="/AMBULANTE/Recibos/assets/script.js"></script>

</body>

</html>