.ttl {
    margin: 34vw 0 3vw 3vw;
    font-size: 7vw;
}

.subtt{
    font-size: 3vw;
    font-weight: 500;
    margin-top: -3.5vw;
    margin-left: 8.7vw;
}

.geral {
    width: 100%;
}

#Vazio {
    text-align: center;
    margin-top: 15vw;
    display: none;
}

#Vazio h3 {
    font-size: 4vw;
    font-weight: 500;
    color: #616161;
}

#Vazio img {
    width: 30vw;
    opacity: 70%;
}

#btnAddClube {
    border: none;
    background-color: transparent;
    position: fixed;
    bottom: 25vw;
    right: 5vw;
}

#btnAddClube img {
    width: 13vw;
}

#Clubes {
    display: none;
}

.caixa{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-top: -5vw;
}

.clube-container{
    margin-top: 5vw;
    width: 98%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #00404A;
    border-radius: 2vw;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5vw;
    margin-left: 2vw;
}

.nome-clube{
    color: #ffffff;
    font-size: 4vw;
    font-weight: bold;
}

.nome-barraca{
    color: #ffffff;
    font-size: 2.5vw;
}

.info-barraca p{
    margin: 0;
}

.data{
    color: #E9F6FF;
    font-size: 3vw;
}

.data p{
    margin: 0;
}

.membros p{
    padding: 0;
}

.membros{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin: 1vw 0 2vw 0;
}

.qtd{
    margin: 0;
    font-size: 7vw;
    font-weight: bold;
}

.membro{
    margin: 0 ;
    font-size: 3.6vw;
    font-weight: 500;
}

.edit{
    width: 28.2vw;
    color: #00404A;
    background-color: #fff;
    border: none;
    font-weight: 500;
    font-size: 4vw;
    border-radius: 1vw;
    margin-top: 1vw;
    padding: 0vw;
}

.a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgClube {
    min-width: 27vw;
    max-width: 27vw;
    height: 22vw;
    object-fit: cover;
}