body.dark{
  background-image: url(img/fundinho.svg);
  background-color: #282828;

  .reservaContainer{
    background-color: #282828;
  }

  .ajusteTitle{
    color: #FFF;
  }

  h3, h5{
    color: #FFF;
  }

  .reservas{
    background-color: #2f2f2f;
  }

  .reserva{
    background-color: #454545;
    color: #FFF;
  }

  .span{
    color: #0A9396;
  }

  .iconNot{
    filter: invert(38%) sepia(80%) saturate(20%) hue-rotate(150deg) brightness(95%) contrast(85%);
  }

  .lembrete, .cancelarReserva,.modalTempoExtra{
    background-color: #282828;
    color: #FFF;
  }

  .iconFechar span{
    filter: invert(1);
  }


  


  .label{
    background-color: #008B92;
    color: #FFF;
  }

  .reciboReserva{
    background-color: #282828;
    box-shadow: rgba(118, 118, 118, 0.152) 0px 7px 30px 0px;
  }
  .descricaoReserva{
    color: #FFF;
  }

  .dtReserva{
    color: #0A9396;
  }

  .detalhe{
    color: #FFF;
  }

  hr{
    background-color: #CCCCCC;
  }

  .reservasFuturas{
    color: #ffffffba;
  }
}

.suasReservas {
  position: absolute;
  overflow-x: hidden;
  top: 13%;
  width: 100%;
  padding-bottom: 6vh;
}

.reservaContainer {
  background-color: #E9F6FF;
  /* border: 1vw solid black; */
  border-radius: 8vw 8vw 0 0;
  padding: 4vw;
}

.ajusteTitle {
  line-height: 2vw;
  padding-left: 4vw;
}

.ajusteTitle p {
  padding-left: 2vw;
}

.ajusteBuscar {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.ajusteBuscar button {
  background-color: #0A9396;
  color: white;
  border: 0;
  border-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  width: 25%;
  font-size: 16px;
}

#iconLupa {
  width: 2vw;
}

#iconFiltrar {
  width: 5.5vw;
}

.inputHR {
  width: 75%;
  height: 3.5vh;
  border-radius: 2vw;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0vw 0.1vw 1vw 0.1vw;
  padding-right: 2.5em; 
  /* background: transparent;  */
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5em center; 
  background-size: 4vw; 
  cursor: pointer; 
  padding-left: 3vw;
}
/* 
#buscar {
border: 1 solid black;
} */

.totalReserva {
  gap: 1vh;
  display: grid;
}

h3 {
  margin-bottom: 0.7vh;
  font-weight: 500;
}

.reservas {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0vw 0.1vw 1vw 0.1vw;
  border-radius: 2vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imgReserva {
  width: 20vw;
  height: 20vw;
  margin: 2vw;
  object-fit: cover;
  border-radius: 100%;
}

.ajusteData {
  display: flex;
  align-items: center;
  padding: 2vw;
  width: 96%;
}

h5 {
  margin: 0;
  padding-right: 1em;
  font-weight: 400;
  font-size: 1rem;
}

hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid black;
  margin: 0;
}

.reservaAtiva {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vw;
}

.reserva {
  display: flex;
  align-items: center;
  width: 95%;
  background-color: white;
  border-radius: 2vw;
  box-shadow: rgba(0, 0, 0, 0.2) 0vw 0.3vw 1vw 0.2vw;
  margin-bottom: 2vh;
  padding: 1vw;
}

.ajusteReserva {
  font-size: small;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  line-height: 5vw;
  justify-content: space-between;
}

#ajusteReservaAntiga {
  column-gap: 1vw;
}

.ajusteReserva h4 {
  font-size: medium;
  font-weight: 500;
  margin: 0;
}

.ajusteReserva p {
  margin: 0;
}

.iconNot {
  width: 6vw;
  display: flex;
  align-self: flex-start;
  padding: 2vw;
}

#btnCancelar {
  border: #00404A solid 1px;
  border-radius: 1vw;
  color:#00404A;
  background-color: white;
  font-weight: 600;
}

#btnVer {
  height: 2.5vh;
  border: #00404A solid 1px;
  border-radius: 1vw;
  color: white;
  background-color: #00404A;
  font-weight: 500;
}

.span {
  color: #00404A;
  font-weight: 600;
}

.reservasAnteriores {
  width: 100%;
  display: grid;
  justify-items: center;
}

.carrinho {
  position: relative;
  left: 25%;
}

#modalAddLembrete {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.lembrete {
  position: relative;
  background-color: white;
  margin: 5vw;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3vw;
}

.ajusteModal {
  display: flex; 
  justify-content: space-between;
  width: 100%;
}

input[name='opcHora'] {
  display: none;
}

.iconFechar {
  font-size: 3rem;
    font-weight: 300;
    /* bottom: 4vw; */
    position: fixed;
    right: 10vw;
}

.iconFecharr{
  font-size: 3rem;
  font-weight: 300;
  /* bottom: 4vw; */
  position: fixed;
  right: 10vw;
}

.label {
  background-color: #ffffff;
  color: #00404A;
  border: 2px solid #00404A;
  border-radius: 1vw;
  padding: 2vw;
}

.org-hora {
  display: flex;
  justify-content: center;
}

.tempo {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: space-around;
}

#addLembrete {
  background-color: #00404A;
  border: 0;
  padding: 2vw;
  color: white;
  border-radius: 1vw;
  width: 60%;
  margin-top: 3vw;
}

#addLembrete:disabled {
  background-color: #3f6c6d;
}

.lembreteConfirmado {
  z-index: 999;
  background-color: white;
  margin: 6vw;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  border-radius: 3vw;
  align-items: center;
}

.reservaCanceladaConfirmada {
  background-color: white;
  margin: 6vw;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  border-radius: 3vw;
  align-items: center;
  position: fixed;
  top: 35vh;
}

#iconConfirmado {
  width: 12vw;
}

.textoLembrete {
  font-size: small;
  font-weight: 600;
  color: #343434;
}

.btnVoltar, #btnCancelarReserva, .btnComprar {
  background-color: #00404A;
  border: 0;
  color: white;
  padding: 1vw 6vw;
  border-radius: 1.5vw;
  font-size: large;
  width: 50vw;
  font-weight: 600;
  align-self: center;
}

.cancelar {
  position: fixed;
  display: none;
}

.verReserva {
  position: fixed;
  /* display: none; */
}

.cancelarReserva {
  text-align: center;
  margin: 5vw;
  top: 35vh;
  position: relative;
  background-color: white;
  padding: 4vw;
  border-radius: 3vw;
  flex-wrap: wrap;
  justify-content: center;
}

.destaque {
  color: #00404A;
  text-decoration: underline;
}

.reciboReserva {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5vw;
  top: 20vh;
  position: relative;
  background-color: white;
  padding: 4vw;
  border-radius: 3vw;
  flex-wrap: wrap;
  font-weight: 600;
}

.ajusteRecibo {
  display: flex;
  justify-content: center;
}

.dtReserva {
  color: #00404A;
  font-weight: 600;
}

.detalhesRecibo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detalheInfo {
  color: #008B92;
}

#btnComprarTempoExtra {
  background-color: #008B92;
  color: white;
  padding: 2vw;
  border-radius: 1vw;
  margin-top: 5vw;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  width: 55vw;
  letter-spacing: 0.3vw;
  align-self: center;
}

.modalTempoExtra {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5vw;
  top: 32vh;
  position: relative;
  background-color: white;
  padding: 5vw;
  border-radius: 3vw;
  flex-wrap: wrap;
  font-weight: 600;
  gap: 2vw;
}

/*Modal*/

#modalBk {
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 102vh;
  align-content: end;
  flex-wrap: wrap;
  backdrop-filter: brightness(0.5);
}

.modal {
  width: 100%;
  height: 50%;
  background-color: #fff;
  border-radius: 8vw 8vw 0vw 0vw;
  display: grid;
  justify-content: center;
}

.ajusteModalFiltro {
  width: 90vw;
  height: 62vw;
}

.ajusteModalFiltro h1 {
  font-size: 6vw;
}

.ajusteModalFiltro h3 {
  font-size: 5vw;
  color: #454545;
  margin-bottom: 3vw;
}

.modal p {
  color: #454545;
  font-weight: 600;
  font-size: 1.9vh;
  margin: 0;
}

.dt-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

input#dt {
  font-size: 5vw;
  font-weight: 700;
  border: .5vw solid #000;
  border-radius: 1.5vw;
  padding: 1vw;
}

.Radios {
  background-color: #00404A;
  color: #ffffff;
  height: 9vw;
  font-weight: 600;
  width: 13vh;
  border-radius: 1.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Radios span {
  font-size: 1.8vh;
  text-align: center;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin-bottom: 2vw;
  width: 97vw;
  transform: translate(-4%, 0%);
}

.inputR {
  display: none;
}

input#display {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  font-size: 5vw;
  font-weight: 600;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
  color: #454545;
}

.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8vw;
}

input#myRange {
  transform: scale(2);
  width: 45vw;
  appearance: none;
  display: block;
  background-color: #008B92;
  border-radius: 2vw;
  height: 1vw;
  outline: none;
}

/*bolinha no chrome e no edge*/
[type="range"]::-webkit-slider-thumb {
  appearance: none;
  display: block;
  width: 2vw;
  height: 2vw;
  background-color: #00404A;
  border-radius: 2vw;
  z-index: 2;
  position: relative;
}

/*bolinha no firefox*/
[type="range"]::-moz-range-thumb {
  appearance: none;
  display: block;
  width: 2vw;
  height: 2vw;
  background-color: #00404A;
  border-radius: 2vw;
}

.justifyValues {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.justifyValues p {
  color: #848484;
  font-weight: 600;
  font-size: 2vh;
  margin: 0;
}


.Pontos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 11.5vw;
  margin-top: -10vw;
  gap: 80vw;
}

.ponto {
  background-color: #00404A;
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
}

.btns {
  display: flex;
  width: 100%;
  gap: 8vw;
  justify-content: center;
  margin-top: 8vw;
}

#btnL {
  border: .3vw solid #00404A;
  color: #00404A;
  height: 10vw;
  font-weight: 600;
  font-size: 4.5vw;
  width: 18vh;
  border-radius: 1.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btnF {
  border: .3vw solid #00404A;
  background-color: #00404A;
  color: #ffffff;
  height: 10vw;
  font-weight: 600;
  font-size: 4.5vw;
  width: 18vh;
  border-radius: 1.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-scroll {
  overflow: hidden;
}