<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/banhista/padrao/style.css">
    <link rel="stylesheet" href="/banhista/Privacidade/Assets/style.css">
    <title></title>
</head>

<body>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/banhista/padrao/img/voltar.svg" id="voltar"></a>
    </header>

    <img src="/banhista/padrao/img/logo.svg" class="logo">

    <section class="Branco">
        <h1>Politicas de Privacidade - Praioou</h1>

        <div class="txt">
            <p>
                SEÇÃO 1 - INFORMAÇÕES GERAIS
                A presente Política de Privacidade contém informações sobre coleta, uso, armazenamento, tratamento e
                proteção dos dados pessoais dos usuários e visitantes do aplicativo e/ou site PRAIOOU, com a finalidade
                de demonstrar absoluta transparência quanto ao assunto e esclarecer a todos interessados sobre os tipos
                de dados que são coletados, os motivos da coleta e a forma como os usuários podem gerenciar ou excluir
                as suas informações pessoais.
                Esta Política de Privacidade aplica-se a todos os usuários e visitantes do aplicativo e/ou site PRAIOOU
                e integra os Termos e Condições Gerais de Uso do aplicativo e/ou site PRAIOOU devidamente inscrita no
                CNPJ sob o nº ___, situado em _____ (endereço completo), doravante nominada ____.
                O presente documento foi elaborado em conformidade com a Lei Geral de Proteçâo de Dados Pessoais (Lei
                13.709/18), o Marco Civil da Internet (Lei 12.965/14) (e o Regulamento da UE n. 2016/6790). Ainda, o
                documento poderá ser atualizado em decorrência de eventual atualização normativa, razão pela qual se
                convida o usuário a consultar periodicamente esta seção.
                SEÇÃO 2 - COMO RECOLHEMOS OS DADOS PESSOAIS DO USUÁRIO E DO VISITANTE?
                Os dados pessoais do usuário e visitante são recolhidos pela plataforma da seguinte forma:
                (Realizar pergunta de múltipla escolha com opção outras)
                Quando o usuário cria uma conta/perfil na plataforma PRAIOOU: esses dados são os dados de identificação
                básicos, como login(exemplo: e-mail, nome completo, cidade de residência e profissão). A partir deles,
                podemos identificar o usuário e o visitante, além de garantir uma maior segurança e bem-estar às suas
                necessidades. Ficam cientes os
            </p>
        </div>
    </section>

</body>

</html>