body {
    background-image: url(./img/FundoCad.png);
    background-repeat: no-repeat;
    background-color: #EAF6FF;
}

.ajusteDias {
    width: 100%;
    display: flex;
    height: 18vw;
    justify-content: center;
    gap: 1vw;
    margin-top: 40vw;
    margin-bottom: 2vw;
}

.dias {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.radioSquare {
    width: 13.5vw;
    background-color: #17AEB5;
    border-radius: 1vw;
    color: #fff;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .radioSquare {
    background-color: #00404A;
}

.NM {
    font-weight: 800;
    font-size: 3vw;
}

.NMBdia {
    font-weight: 700;
    font-size: 7vw;
}


.linha {
    width: 100%;
    display: flex;
}

.linha {
    width: 100%;
    display: flex;
    justify-content: center;
}

hr {
    width: 95%;
}

.ajuste {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vw;
}

.parag{
    font-size: 115%;
    font-weight: 600;
    color: #515151;
}

.selecionar{
    background-color: #00404A;
    border: none;
    border-radius: 2vw;
    color: #fff;
    width: 40vw;
    height: 8vw;
    font-weight: 600;
    font-size: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgSetaB{
    width: 3vw;
    transform: rotate(90deg);
}

.horarios {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2vw;
    height: 8vw;
}

.horarios hr{
    width: 70vw;
    margin-left: 2vw;
}

.hrs{
    color: #848484;
    font-size: 5vw;
    font-weight: 700;
}

.ajusteReservas {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 25vw;
    margin-top: -5vw;
}

.reservas {
    width: 90%;
    display: grid;
    gap: 2vw;
}

.reserva {
    width: 100%;
    height: 10vw;
    background-color: #0A9396;
    display: flex;
    border-radius: 1.5vw;
    align-items: center;
    justify-content: center;
}

.ajus{
    width: 90%;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: 700;
    font-size: larger;
}

.situacao{
    width: 25vw;
    font-size: 4vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    border: none;
}

.situacao.cancelada {
    background-color: #A74B42;
    color: white;
}

.situacao.ativa {
    background-color: #ffffff;
    color: black;
}


.reservaC {
    width: 100%;
    height: 10vw;
    background-color: #00404A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.situacaoC{
    width: 26vw;
    font-size: 4vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    border: none;
    background-color: #A74B42;
    color: #fff;
}

.imgCadeira {
    width: 8vw;
}

.imgSeta {
    width: 3vw;
}

.SemR{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #848484;
    font-size: 4vw;
    font-weight: 700;
}

.fechar{
    position: relative;
    font-weight: 500;
    font-size: 4rem;
}

.img {
    display: flex;
    flex-direction: column;
}



#FundoModal{
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

.modal{
    width: 95%;
    height: 52vh;
    background-color: #fff;
    border-radius: 4vw;
}
    

.ajusteHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cad{
    width: 20vw;
    margin-top: 2vw;
}

.ajusteInfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hr{
    margin: -10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr hr{
    width: 95%;
}

.AlinhamentoR{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vw;
    margin-bottom: 2vw;
    margin-top: 6vw;
}

.Alinhamento{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vw;
    margin-bottom: 2vw;
}

.AlinhamentoF{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vw;
    margin-bottom: 4vw;
}
.tamanho{
    width: 85%;
    display: flex;
    gap: 2vw;
    align-items: center;
}

.tamanhoR{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12vw;
}

.ajusteInfoGeral{
    margin-top: -6vw;
}

.cancelar{
    width: 28vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00404A;
    font-size: 4vw;
    border-radius: 2vw;
    border: .1vw solid #00404A;   
}

.concluida{
    background-color: #0A9396;
    width: 28vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 4vw;
    border-radius: 2vw;
}

.NMTTL{
    font-size: 4vw;
    font-weight: 600;
}

.PR{
    font-weight: 600;
    font-size: 3.5vw;
}

.DT{
    color: #00404A;
    font-weight: 700;
}

.PRT{
    font-weight: 600;
    font-size: 3.8vw;
}

.PRB{
    color: #0A9396;
    font-weight: 600;
    font-size: 4vw;
}

.img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 5vw;
}

.ajusteHeader h3{
    color: #0A9396;
}

#modalCancelado{
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}

.modal{
    width: 90%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4vw;
}

.modal p{
    font-size: 5vw;
    font-weight: 600;
}

.fecharC{
    position: fixed;
    right: 8vw;
    top: 91vw;
}

.listaReservas {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

#FundoModal {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    border-radius: 8px;
    width: 90%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    height: auto;
}


.ajusteHeader {
    display: flex;
    justify-content: center;
}

.tamanhoR {
    display: flex;
    justify-content: space-between;
}

.tamanho {
    display: flex;
    justify-content: space-between;
}

.dia-container {
    background-color: #0A9396;
    padding: 2vw;
    color: white;
    text-align: center;
    border-radius: 2vw;
}

.estilo-dia {
    font-size: xx-small;
}

.estilo-data {
    font-size: x-large;
    font-weight: 600;
}

.estilo-mes {
    font-size: x-small;
}

.dia-container.selecionado {
    background-color: #00404A;
    color: white;
}

#sltBarraca {
    background-color: #00404A;
    border: none;
    border-radius: 1vw;
    color: white;
    padding: 0.5vw;
    font-weight: 600;
}

.info-section {
    display: flex;
    gap: 2vw;
}

.header-content {
    display: flex;
    width: 95%;
}