@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-image: url(img/Teste1.png);
  background-repeat: no-repeat;
  background-color: #e9f6ff;
  background-size: 100%;
  margin-bottom: 25vw;
}

body.dark{
    background-image: url(img/fundinho.svg);
    background-color: #282828;

    .caixa{
        background-color: #282828;
    }

    .barraca-favorita{
        background-color: #D8D8D8;
    }

    .titulos{
        color: #FFF;
    }

    .btn-filtro{
        background-color: #00404A;
    }

    .barraca-favorita {
        background-color: #414040;
    }

    .barraca-info{
        color: #fff;
    }

    .barraca-info p{
        color: #bbbbbb;
    }

    .preco{
        color: #fff;
    }

    .btn-filtro { 
        background-color: #414040; 
    }

    .navbar{
        background-color: #555555;
        border: solid 1px #535353b9;
    }
}




* {
  font-family: "Montserrat", sans-serif;
}

.corpo {
  padding: 0;
  margin: 0;
}

.logo {
    position: absolute;
    z-index: 2;
    width: 25vw;
    left: 50%;
    top: 5vw;
    transform: translate(-50%);
  }

.titulos{
    padding-left: 4vw;
    margin-top: 35vw;
}

.titulos h1{
 font-size: 7vw;
}

.titulos p{
    font-weight: 500;
    font-size: 3.5vw;
    padding-left: 5vw;
    margin-top: -5vw;
}

.caixa {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #EAF6FF;
    border-radius: 7vw;
}

.pesquisa-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-top: 3vw;
}

.barra {
    display: flex;
    align-items: center;
    position: relative;
    width: 60%;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0, 0.25);
    border-radius: 2vw;
    padding: 1vw;
}

.barra input[type="search"] {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 1vw;
    font-size: 0.67rem; 
}

.barra img {
    width: 5vw;
    height: 5vw;
    position: absolute;
    right: 2vw; 
}

.btn-filtro {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #47848d;
    color: #fff;
    padding: 1.5vw;
    font-size: 4vw;
    border-radius: 3vw;
    width: 25vw;
    filter: grayscale(100%);
    box-shadow: #e9f6ff2b 2px 2px 20px 3px;
    
}

.favoritas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4vw 2.3vw 1vw 1vw ;
    box-sizing: border-box;
}

.barraca-favorita {
    width: 100%;
    height: 31vw;
    background-color: #ffffff;
    border-radius: 4vw;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; 
    box-sizing: border-box;
}

.barraca-card {
    display: flex;
}

.barraca-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.barraca-header {
    margin-top: 4vw;
    display: flex;
    padding-left: 4vw;
    align-items: center;
    gap: 6vw;
}

.barraca-header h3 {
    margin: 0;
    font-size: 3.3vw;
    font-weight: bold;
}

.barraca-info p {
    color: #555;
    font-size: 2.5vw;
    margin-top: 1vw;
    padding-left: 4vw;
    font-weight: bold;
}

.cadeiras {
    font-size: 1vw;
    font-weight: bold;
}

.barraca-footer {
    display: flex;
    margin-top: -1vw;
    gap: 8vw;
}

.preco {
    font-size: 4vw;
    font-weight: bold;
    color: #000;
}

.img-barraca img{
    margin-top: 1.5vw;
    width: 38.7vw ;
}

