<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/ambulante/AddCarrinho/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/ambulante/AddCarrinho/assets/style.css">
    <link rel="stylesheet" href="/ambulante/padrao/style.css">
    <script src="/ambulante/AddCarrinho/assets/script.js" defer></script>
    <title>Inicial</title>
</head>
<body>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/ambulante/padrao/img/voltar.png" id="voltar"></a>
    </header>

    <img src="/ambulante/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicialB" class="active" id="NavInicio" style="color: #008B92;"><img src="/ambulante/padrao/img/HomeClick.png" >Inicio</a>
            <a href="/dados" class="active" id="NavReserva"> <img src="/ambulante/padrao/img/dados.png" alt="">Dados</a>
            <a href="/CluberJSON/ClubeB" class="active" id="NavPedido"> <img src="/ambulante/padrao/img/clube.png" alt="">Clube</a>
            <a href="/comanda" class="active" id="NavPerfil"> <img src="/ambulante/padrao/img/comanda.png" alt="">Comanda</a>
            <a href="/perfilB" class="active" id="NavPerfil"> <img src="/ambulante/padrao/img/perfil.png" alt="">Perfil</a>
        </nav>
    </div>

    <section>
        <container class="geral">
            <form method="post" id="Form-AddCarrinho" enctype="multipart/form-data">
                <input type="file" id="imgsCarrinho" name="file" accept="image/*" multiple required="required" style="display: none;">
                <div id="preview">
                    <label for="imgsCarrinho" class="AddImg">
                        <div class="Add" >
                            <img src="/ambulante/AddCarrinho/assets/img/AddImg.png">
                            <h2>ADICIONE ATÉ 5 FOTOS</h2>
                        </div>
                        <h3>*Verifique as fotos antes de enviar</h3>
                    </label>
                </div>
                                
                <div>
                    <label>Nome</label>
                    <input 
                        type="text" 
                        id="nmCarrinho" 
                        class="inpts" 
                        placeholder="Digite o nome da sua barraca"
                        required="required"
                    >
                </div>
    
                <div>
                    <label>Localização</label>
                    <select class="inpts2" style="font-size: 4vw; width: 40vw; height: 9vw;" id="dsCidade">
                        <option>Cidade</option>
                        <option value="São Vicente">São Vicente</option>
                        <option value="Praia Grande">Praia Grande</option>
                        <option value="Santos">Santos</option>
                        <option value="Guarujá">Guarujá</option>
                        <option value="Itanhaém">Itanhaém</option>
                    </select>
                    <input 
                        type="text" 
                        id="locCarrinho" 
                        class="inpts" 
                        placeholder="Sua localização esta perto do que?"
                        required="required"
                    >
                </div>
    
                <div>
                    <label>Descrição</label>
                    <textarea placeholder="Escreva uma breve descrição sobre a sua barraca ou alguma caracteristica" id="dsCarrinho"></textarea>
                </div>
    
                <div>
                    <label>Quantida de conjuntos <img src="/ambulante/AddCarrinho/assets/img/Duvida.svg" style="width: 4.5vw; height: 4.5vw;" id="DuvidaQtt"></label>
                    <input 
                        type="number" 
                        class="inpts2" 
                        id="qtConjunto"
                        required="required"
                    > 
                </div>
    
                <div>
                    <label>Valor da Reserva <img src="/ambulante/AddCarrinho/assets/img/Duvida.svg" style="width: 4.5vw; height: 4.5vw;" id="DuvidaVl"></label>
                    <div style="display: flex; align-items: center;">
                        <h1 class="preco">R$</h1>
                        <input 
                        type="number" 
                        class="inpts2" style="padding-left: 9vw;" 
                        id="vlReserva"
                        required="required"    
                    > 
                    </div>
                </div>

                <div>
                    <label>Horario de começo e fim de reservas <img src="/ambulante/AddCarrinho/assets/img/Duvida.svg" style="width: 4.5vw; height: 4.5vw;" id="DuvidaHr"></label>
                    <div style="display: flex; justify-content: center; gap: 5vw; align-items: center;">
                        <input 
                        style="width: 40vw; height: 9vw;"
                        type="time" 
                        class="inpts2"
                        id="hrInicioReserva"
                        required="required"    
                    > 
                        <h4 style="opacity: 30%;">Até</h4>
                    <input 
                        style="width: 40vw; height: 9vw;"
                        type="time" 
                        class="inpts2"
                        id="hrFimReserva"
                        required="required"    
                    > 
                    </div>
                </div>
    
                <div class="btn">
                    <button type="submit" id="btnAdd">Adicionar carrinho</button>
                </div>
            </form>
        </container>
    </section>
    
    <div id="msgQtt">
        <div class="blur"></div>
        <div class="msg">
            <img src="/ambulante/padrao/img/fechar.svg" class="fecharModal" id="FecharQtt">
            <h1 class="h1Modal"><img src="/ambulante/AddCarrinho/assets/img/Duvida.svg"> Quantida de conjuntos</h1>
            <p style="font-size: 4.5vw;">quantidade de conjuntos é a quantidade de guarda-sol’s com cadeiras que você tem, no caso kit’s que podem ser por exemplo: um guarda-sol e 4 cadeiras, guarda-sol e 5 cadeiras e etc....</p>
        </div>
    </div>

    <div id="msgVl">
        <div class="blur"></div>
        <div class="msg">
            <img src="/ambulante/padrao/img/fechar.svg" class="fecharModal" id="FecharVl">
            <h1 class="h1Modal"><img src="/ambulante/AddCarrinho/assets/img/Duvida.svg"> Valor da Reserva</h1>
            <p style="font-size: 4.5vw;">Você pode colocar como valor de reserva a metade do valor que você costuma colocar para consumo minimo na sua barraca.
                Vale lembrar que você nao podera cobrar consumo minimo depois</p>
        </div>
    </div>
</body>
</html>