<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/AMBULANTE/PADRAO/img/iconWeb.svg">
    <link rel="stylesheet" href="/ambulante/padrao/style.css">
    <link rel="stylesheet" href="ambulante/tutorial/assets/style.css">
    <script src="ambulante/tutorial/assets/script.js"></script>
    <title>Tutorial</title>
</head>

<body>

    <a href="/inicialB"><div id="btnPular">Pular</div></a>

    <div class="blur"></div>

    <section id="parte1">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo1-boas-vindas.svg" alt="">

        <container id="Passo1">

            <div class="CardP1">
                <div class="baseP1">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP1">

                    <p>
                        Olá, Bem-vindo ao Praioou, eu sou o Zeca, e estou aqui para te ajudar nessa nova jornada,
                        irei te explicar os seus primeiros passos
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte1')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte2">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo2-ver-plano.svg" alt="">

        <container id="Passo1">

            <div class="CardP1">
                <div class="baseP2">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP2">

                    <p>
                        Se você clicar no botão de planos que tem no nosso banner você vai direto pra tela de planos onde você pode escolher um caso ainda não tenha ou então atualizar o plano que você ja tem.
                        Mas fica de olho em, que sempre tem um desconto especial pra você
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP2" class="imgSeta" onclick="proximoPasso('parte2')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte3">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo3-carrossel-carrinho.svg" alt="">

        <container id="Passo1">

            <div class="CardP1">
                <div class="baseP3">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP3">

                    <p>
                        Essa é a nossa tela inicial, Se você clicar no card de adicionar que esta no carrossel você pode adicionar o seu carrinho ou só visualisar um ja existente.
                        Não conta pra ninguém mas aqui no Praioou você tem carrinhos ilimitados!
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP3" class="imgSeta" onclick="proximoPasso('parte3')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte4">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo4-relatorio-geral.svg" alt="">

        <container id="Passo1">

            <div class="CardP4">
                <div class="baseP1">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP4">

                    <p>
                        Aqui fica os seus relatorios, dependendo do seu plano você tem uma grande variedade de relatorios de diferentes tipos, pra ver mais sobre eles basta clicar.
                        Vai, clica ai, assim você vê um pouco mais
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP4" class="imgSeta" onclick="proximoPasso('parte4')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte5">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo5-estatistica-precisa.svg" alt="">

        <container id="Passo1">

            <div class="CardP5">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        Aqui você consegue ver todas as estatísticas disponíveis, dependendo do seu plano você consegue até escolher a estatística que você quer ver de um determinado periodo e o tipo de gráfico
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP5" class="imgSeta" onclick="proximoPasso('parte5')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte6">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo6-estatistica-carrinhos.svg" alt="">

        <container id="Passo1">

            <div class="CardP6">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        Ali em cima você consegue ver todos os seus carrinhos, ao clicar nele ira aparecer a estatística do carrinho desejado
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP6" class="imgSeta" onclick="proximoPasso('parte6')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte7">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo7-estatistica-grafico.svg" alt="">

        <container id="Passo1">

            <div class="CardP7">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        Aqui você consegue decicidr que tipo de grafico você deseja, você pode escolher entre grafico de setores, colunas e linhas, veja o que fica melhor para você
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP7" class="imgSeta" onclick="proximoPasso('parte7')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte8">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo8-estatistica-tipos.svg" alt="">

        <container id="Passo1">

            <div class="CardP8">
                <div class="baseP8">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP8">

                    <p>
                        Aqui você decide sobre o que você quer ver o grafico, se é sobre seu lucro, suas reservas, seus pedidos ou sobre seus clientes. Aqui você tambem consegue decidir o periodo que quer visualizar (fique de olho pois o periodo depende do plano escolhido por você)
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP8" class="imgSeta" onclick="proximoPasso('parte8')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte9">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo9-comanda.svg" alt="">

        <container id="Passo1">

            <div class="CardP9">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        Clicando no ícone de comanda da sua navbar você é redirecionado pra sua tela de comanda, aqui você consegue ver todos os pedidos que foram feitos em cada carrinho
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP9" class="imgSeta" onclick="proximoPasso('parte9')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte10">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo10-comanda-carrinho.svg" alt="">

        <container id="Passo1">

            <div class="CardP10">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP10">

                    <p>
                        Aqui você seleciona de qual carrinho você deseja ver as comandas, se você tem mais de um carrinho sempre lembre de conferir isso para ver se você esta fazendo os pedidos do carrinho certo (dica de amigo em)
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP10" class="imgSeta" onclick="proximoPasso('parte10')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte11">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo11-comanda-pendentes.svg" alt="">

        <container id="Passo1">

            <div class="CardP11">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        Aqui você consegue ver quantos pedidos ainda estão pendentes, quantos ja foram entregue, o total de pedidos que você ja recebeu no dia e a data do dia em especifico
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP11" class="imgSeta" onclick="proximoPasso('parte11')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte12">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo11-comanda-pedido.svg" alt="">

        <container id="Passo1">

            <div class="CardP12">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        Essas daqui são as suas comandas, elas são bem bonitinhas né? se você clicar nelas abre um modal explicando certinho todo o pedido
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP12" class="imgSeta" onclick="proximoPasso('parte12')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte13">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo12comanda-pedido-aberto.svg" alt="">

        <container id="Passo1">

            <div class="CardP13">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        A comanda aberta fica assim, aqui você consegue ver todos os detalhes do pedido e marcar que ele ja esta pronto para entregar pro seu cliente, mas caso seja necessário você também pode cancelar o pedido
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP13" class="imgSeta" onclick="proximoPasso('parte13')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte14">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo13-comanda-clube.svg" alt="">

        <container id="Passo1">

            <div class="CardP14">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        Olha que legal, se você tiver um clube no carrinho e algum membro do clube fizer um pedido direto do cardápio do clube é assim que ira aparecer para você, com essa coroa bonitinha em cima
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP14" class="imgSeta" onclick="proximoPasso('parte14')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>
    
    <section id="parte15">
    <img src="ambulante/Tutorial/assets/img/tutorial-passo14-perfil.svg" alt="">
    
    <container id="Passo1">
        
        <div class="CardP15">
            <div class="baseP15">
                
                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP15">

                    <p>
                        Clicando no ícone de perfil da sua navbar você é redirecionado para o seu perfil, aqui tem todos os outros atalhos que você possa precisar além de outras coisinhas pra  te ajudar
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP15" class="imgSeta" onclick="proximoPasso('parte15')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte16">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo15-perfil-foto.svg" alt="">
        
        <container id="Passo1">
            
            <div class="CardP16">
                <div class="baseP16">
                    
                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP16">
                    
                    <p>
                        Aqui temos algumas informações suas, como o seu nome e o ano que você entrou no Praioou, além disso clicando ali no lapisinho você consegue alterar a sua foto de perfil, e clicando no botão de configurações você consegue ver e editar varias informações sobre a sua conta
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP16" class="imgSeta" onclick="proximoPasso('parte16')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte17">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo16-perfil-atalhos.svg" alt="">

        <container id="Passo1">

            <div class="CardP17">
                <div class="baseP17">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP17">

                    <p>
                        Esses são os atalhos da sua conta, tudo que não tem na navbar tem aqui, inclusive o botão das suas reservas, mas perai que a gente ja volta a falar sobre ele. Tambem temos o Ka-Boom, se o seu plano tiver ele você fica no topo de qualquer pesquisa toda vez que ele estiver ativado, muito legal né?
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP17" class="imgSeta" onclick="proximoPasso('parte17')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte18">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo17-perfil-darkmode.svg" alt="">

        <container id="Passo1">

            <div class="CardP18">
                <div class="baseP18">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP18">

                    <p>
                        Aqui você consegue ativar e desativar o modo noturno, deixando o Praioou bem escuro ou bem clarinho como ele ta agora, você também consegue ver qual seu plano atual e é claro se você sentir saudade de mim ou achar que precisa ver esse tutorial de novo é só vir aqui que vai ter um botão para você consegue me ver novamente
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP18" class="imgSeta" onclick="proximoPasso('parte18')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte19">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo18-perfil-reservas.svg" alt="">

        <container id="Passo1">

            <div class="CardP19">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP19">

                    <p>
                        Agora vamos voltar a falar das suas reservas, clicando nesse botão você vai direto pra tela das suas reservas, vamos la que eu vou te mostrar!
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP19" class="imgSeta" onclick="proximoPasso('parte19')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte20">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo19-reserva-controle.svg" alt="">

        <container id="Passo1">

            <div class="CardP20">
                <div class="baseP20">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP20">

                    <p>
                        Aqui é a sua tela de reservas, todas as reservas feitas vem pra cá, aqui você consegue ver se elas estão ativas, se foram canceladas ou caso precise você mesmo pode cancela-las
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP20" class="imgSeta" onclick="proximoPasso('parte20')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte21">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo20-reserva-datas.svg" alt="">

        <container id="Passo1">

            <div class="CardP21">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        O carrossel contem os dias do mês e ele é atualizado a cada dia que passa, em baixo você consegue selecionar de qual carrinho deseja ver as comandas
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP21" class="imgSeta" onclick="proximoPasso('parte21')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte22">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo21-reserva-detalhes.svg" alt="">

        <container id="Passo1">

            <div class="CardP22">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP22">

                    <p class="txt22">
                        As suas reservas ativas ficam assim, verdinhas e com ativo escrito ao lado dela, ja suas reservas canceladas ficam cinzas e com cancelado escrito em vermelho ao lado, mas não se preocupe, o praioou libera pra outra reserva automaticamente quando uma reserva é cancelada
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP22" class="imgSeta" onclick="proximoPasso('parte22')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte23">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo22-reserva-ativa.svg" alt="">

        <container id="Passo1">

            <div class="CardP23">
                <div class="baseP23">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        Se você clicar em alguma reserva ativa, você pode cancela-la caso necessário, ira aparecer um modal onde você pode marcar a reserva como ainda ativa, não ativa e explicar o por que disso e se quiser pode selecionar a opção de cancelar a reserva 
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP23" class="imgSeta" onclick="proximoPasso('parte23')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte24">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo23-voltar.svg" alt="">

        <container id="Passo1">

            <div class="CardP24">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        Ops, eu esqueci de algo muito importante, vamos voltar lá pro começo que eu vou te mostrar!
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP24" class="imgSeta" onclick="proximoPasso('parte24')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte25">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo24-inicial.svg" alt="">

        <container id="Passo1">

            <div class="CardP25">
                <div class="baseP25">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        Clica aqui nesse carrinho que eu vou te mostrar uma coisa muito legal!
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP25" class="imgSeta" onclick="proximoPasso('parte25')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte26">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo25-barraca.svg" alt="" class="fundo">

        <container id="Passo1">

            <div class="CardP26">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP26">

                    <p>
                        Aqui é onde você consegue ver todas as informações do seu carrinho e ter uma noção de como os seu clientes veem seu carrinho, além disso você pode administrar algumas coisas aqui também
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP26" class="imgSeta" onclick="proximoPasso('parte26')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte27">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo26-com-vaga.svg" alt="" class="fundo">

        <container id="Passo1">

            <div class="CardP27">
                <div class="baseP27">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP27">

                    <p>
                        Nesse botão você pode marcar se aquele carrinho ainda consegue aceitar reserva ou se ele ja esta lotado e não consegue mais aceitar reservas, mas não se preocupe se ficar com duvida é soó clicar nesse ponto de interrogaçaõ (?) tem varios espalhados por ai pra te auxiliar
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP27" class="imgSeta" onclick="proximoPasso('parte27')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte28">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo27-atalhos-barraca.svg" alt="" class="fundo">

        <container id="Passo1">

            <div class="CardP28">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        Aqui você consegue alterar algumas informações do seu carrinho, como editar as informações do carrinho, criar um clube para ele caso ainda não tenha e editar o cardápio daquele carrinho
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP28" class="imgSeta" onclick="proximoPasso('parte28')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte29">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo28-estrelas-comentario.svg" alt="" class="fundo">

        <container id="Passo1">

            <div class="CardP29">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP5">

                    <p>
                        Você também consegue ver a media da suas avaliações e quantos comentários você de acordo com as estrelas
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP29" class="imgSeta" onclick="proximoPasso('parte29')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte30">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo29-comentarios.svg" alt="" class="fundoSp">

        <container id="Passo1">

            <div class="CardP30">
                <div class="baseP5">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP30">

                    <p>
                        Descendo mais pra baixo você pode ver todos os comentários que aquele carrinho ja recebeu e as estrelas que foram dadas e se quiser pode até responder esses comentários, mas claro, sempre sendo respeitoso e educado
                    </p>

                    <div class="DownT">
                        <img src="/ambulante/InicialB/assets/img/pontos.svg" class="pontos">
                        <img src="/ambulante/InicialB/assets/img/setaT.png" id="setaP30" class="imgSeta" onclick="proximoPasso('parte30')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte31">
        <img src="ambulante/Tutorial/assets/img/tutorial-passo30-concluir-tutorial.svg" alt="">

        <container id="Passo1">

            <div class="CardP31">
                <div class="baseP31">

                    <img src="/ambulante/InicialB/assets/img/coquinho.svg" class="imgCoquinhoP31">

                    <p class="txt31">
                        Poxa, chegamos ao fim dos seus primeiro passos, mas não se preocupa sempre que precisar é só ir la onde eu te ensinei e rever esse tutorial. 
                        Obrigado por escolher o Praioou, você era o que faltava pra completar esse aplicativo!
                    </p>

                    <div class="DownT">
                        <a href="/inicialB">
                            <div id="btnConcluido">
                                Concluir
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </container>
    </section>
    <script src="ambulante/tutorial/assets/script.js"></script>
</body>

</html>