@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Montserrat", sans-serif;
}

body{
    background-image:url(img/Group\ 134.png);
    background-color: #EAF6FF;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
    transition: background 0.2s linear;
}

body.dark{
    background-image: url(img/dark.png);
    background-color: #282828;
    color: rgb(0, 0, 0);

    .atalhos button{
        background-color: #3A3A3A;
        color: #fff;
        border: 2px solid #fff;
    }

    .btn-atalho2{
        background-color: #3A3A3A;
        color: #fff;
        border: 2px solid #fff;
    }
     .tutorial{
        background-color: #3A3A3A;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .mode {
        background-color: #3A3A3A;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .navbar{
        background-color: #555555;
        border: solid 1px #535353b9;
    }

}

.Clube{
    margin-top: 1vw;
    margin-right: 4vw;
    width: 10vw;
}

.logo {
    position: absolute;
    z-index: 2;
    width: 22vw;
    left: 50%;
    top: 5vw;
    transform: translate(-50%);
}

.corpo{
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    z-index: 4;
    bottom: 3vw;
    width: 98%;
    background-color: #ffffff;
    display: flex;
    border-radius: 5vw;
    justify-content: space-around;
    padding: 2vw 0;
    left: 1vw;
    border: solid 1px #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
  
.navbar a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 4vw;
}


.navbar .active img{
    width: 7vw;
}

#voltar {
    position: absolute;
    z-index: 2;
    left: 3vw;
    top: 3vw;
    width: 7vw;
}

.corpo-1{
    margin-top: 10vw;
}
.corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgP{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12vw;
}

.foto{
    width:35vw;
}

.nome{
    color: #ffffff;
    font-size: 6vw;
    font-weight: 500;
    margin-top: 1vw;
}

.desde{
    font-weight: 400;
    color: #ffffff;
    margin-top: -5vw;
}

a{
    text-decoration: none;
}

.btn{
    width: 45vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 3vw;
    background-color: #00404A;
    color: #ffffff;
    gap: 2vw;
    border: none;
    font-weight: 600;
    font-size: 4vw;
    margin-top: -2vw;
    margin-bottom: 2vw;
}

.btn img{
    width: 7.5vw;
}

.ondinha{
    background-image: url(img/Subtract.png);
    background-size: 100%;
    height: 20vw;
    width: 102%;
}

.info-perfil{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 56%;
}

.foto-perfil{
    position: absolute;
    top: 10%;
    left: 29.8%;
    overflow: hidden;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.informacoes{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacoes p{
    margin: 2vw 0 0 0;
}

.nome{
    font-size: 6vw;
    font-weight: bold;
    color: #ffffff;
}

.desde{
    font-size: 3.8vw;
    font-weight: 500;
    color: #ffffff;
}

.informacoes button{
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    background-color: #00404A;
    margin-top: 4vw;
    border: none;
    padding: 1.6vw;
    border-radius: 4vw;
    font-weight: bold;
    margin-bottom: 5vw;
}

.container-atalhos{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 5vw;
    flex-direction: column;
    margin-top: 10vw;
    margin-bottom: 5vw;
}

.atalhos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn-atalho{
    width: 30vw;
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.7vw;
    background-color: #ffffff;
    color: #00404A;
    border: #00404A 2px solid;
    font-weight: bold;
    border-radius: 2vw;
    gap: 3vw;
    box-shadow: rgba(70, 70, 70, 0.25) 0px 1px 7px -5px, rgba(49, 48, 48, 0.3) 0px 8px 6px -8px;
}

.btn-atalho img{
    width: 6vw;
}

.btn-atalho2{
    width: 38vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.7vw;
    background-color: #ffffff;
    color: #00404A;
    border: #00404A 2px solid;
    font-weight: bold;
    border-radius: 2vw;
    gap: 3vw;
    margin-bottom: 4vw;
    box-shadow: rgba(70, 70, 70, 0.25) 0px 1px 7px -5px, rgba(49, 48, 48, 0.3) 0px 8px 6px -8px;
}

.btn-atalho2 p{
    margin: 0;
}

.btn-atalho2 img{
    width: 9vw;
}

.atalho-titu{
    font-size: 3vw;
}

.atalho2{
    display: flex;
    justify-content: space-around;
}

.card{
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

.centralize{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mode{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 95vw;
    background-color: #fff;
    height: 10vw;
    margin-top: 5.5vw;
    border-radius: 3vw;
    gap: 8vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sep{
    display: flex;
    gap: 3vw;
}

.sep img{
    width: 5vw;
}


.checkbox{
    opacity: 0;
    position: absolute;
}

.labelmode{
    background-color: #00404A;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 10px;
    width: 40px;
    transform: scale(1.5);
}

.labelmode .bola{
    background-color: #008B92;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 16px;
    width: 17px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
    box-shadow: rgba(184, 184, 184, 0.411) 0px 1px 8px 0.5px;
}

.checkbox:checked + .labelmode .bola{
    transform: translateX(24px);
}

 .tutorial{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 5vw;
    border-radius: 3vw;
    width: 95vw;
    background-color: #fff;
    height: 10vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.versao{
    display: flex;
    justify-content: center;
    color: #737373;
    font-weight: bold;
    margin-bottom: 20vw;
}