@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #E9F6FF;
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
}

.logo {
    position: absolute;
    z-index: 2;
    width: 25vw;
    left: 50%;
    top: 5vw;
    transform: translate(-50%);
}

.navbar {
    position: fixed;
    z-index: 4;
    bottom: 3vw;
    width: 98%;
    background-color: #ffffff;
    display: flex;
    border-radius: 5vw;
    justify-content: space-around;
    padding: 2vw 0;
    left: 1vw;
    border: solid 1px #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }
  
.navbar a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 4vw;
}

.navbar .active img{
    width: 7vw;
}

#NavInicio {
  color: #008B92;  
}

#voltar {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 10vw;
    margin: 2vw;
}

.navSup{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.caixa{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background-color: #E9F6FF;
    border-radius: 10vw;
    margin-top: 35%;
}


.titulo{
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 1.8vw;
}

.container-cardapio {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 5vw;
}

.caixa-comida {
    width: calc(33.33% - 2vw);
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 2vw;
    border: 1px solid rgb(204, 204, 204, 0.4);
    padding: 2vw;
    margin-bottom: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.caixa-comida h1{
    margin: 0;
}

.imgProduto {
    width: 27vw;
    height: 19vw;
    object-fit: cover;
    border-radius: 1vw;
}

.qtd-pontos{
    font-size: 4.3vw;
    color: #00404A;
}

.nome-comida{
    font-size: 4vw;
}

.transform{
    width: 40%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4vw 0 0.4vw 0;
}

.check {
    position: absolute;
    bottom: -1.2vw;
    right: 0vw;
}

.check input[type="checkbox"] {
    display: none;
}

.check label {
    display: inline-block;
    width: 5vw;
    height: 5vw; 
    background-color: #ffffff;
    border: rgba(0, 0, 0, 0.2) 1px solid;
    border-radius: 0.6vw;
    position: relative;
    cursor: pointer;
    background-size: cover;
}


.check input[type="checkbox"]:checked + label {
    background-image: url(img/vefi.png);
    background-size: 14px 14px; 
    background-position: center; 
    background-repeat: no-repeat;
}

.pontoss{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vw;
    margin-left: 2vw;
    gap: 0.1vw;
}

.valor, .pontos{
    margin: 0;
    font-size: 2.5vw;
    font-weight: 600;
}

.btn-edit{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7vw;
    margin-bottom: 22.5vw;
}

.btn-edit button{
    padding: 2vw;
    background-color: #00404A;
    border: none;
    border-radius: 1.2vw;
    color: #ffffff;
    font-weight: 500;
}

.caixa-azul{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #008B92;
    border-radius: 6vw 6vw 0 0 ;
    position: fixed;
    bottom: 0;
}