<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/TrocarConta/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/ambulante/padrao/style.css">
    <link rel="stylesheet" href="sac/duvidas/assets/style.css">
    <title>Document</title>
</head>
<body>
  <img src="/ambulante/padrao/img/logo.svg" class="logo">
    
  <header class="navSup">
      <a onclick="window.history.back()"><img src="/ambulante/padrao/img/voltar.png" id="voltar"></a>
  </header>

  <div class="corpo">
      <nav class="navbar">
          <a href="/inicial" class="active" id="NavInicio" style="color: black;"><img src="/banhista/padrao/img/inicio.png" >Inicio</a>
          <a href="/suasReservas" class="active" id="NavReserva"> <img src="/banhista/cardapio/assets/img/Reserva.png" alt="">Reserva</a>
          <a href="/Sacola" class="active" id="NavPedido" style="color: #008B92;"> <img src="/banhista/padrao/img/sacola_colorida.png" alt="">Sacola</a>
          <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/cardapio/assets/img/Perfil.png" alt="">Perfil</a>
        </nav>
  </div>
    <div class="caixa">

        <div class="titulos">
          <div class="head">
            <h1>Dúvidas Frequentes</h1>
          </div>
          <h5>Tem alguma dúvida? Veja se a gente já respondeu por aqui!</h5>
        </div>
    
        <div class="faq">
            <div class="faq-item">
              <div class="faq-pergunta">
                Problemas na reserva
                <img class="faq-seta" src="/sac/duvidas/assets/img/seta-faq.svg" alt="">
              </div>
              <div class="faq-resposta">Aqui está a resposta para problemas na reserva.</div>
            </div>
          
            <div class="faq-item">
              <div class="faq-pergunta">
                Tenho direito a estorno?
                <img class="faq-seta" src="/sac/duvidas/assets/img/seta-faq.svg" alt="">
              </div>
              <div class="faq-resposta">Sim, você tem direito a estorno, desde que atenda aos critérios estabelecidos.</div>
            </div>
          
            <div class="faq-item">
              <div class="faq-pergunta">
                Como faço para virar barraqueiro?
                <img class="faq-seta" src="/sac/duvidas/assets/img/seta-faq.svg" alt="">
              </div>
              <div class="faq-resposta">Entre em contato com o suporte para mais informações sobre como se tornar um barraqueiro.</div>
            </div>
          
            <div class="faq-item">
              <div class="faq-pergunta">
                Banista precisa de um plano?
                <img class="faq-seta" src="/sac/duvidas/assets/img/seta-faq.svg" alt="">
              </div>
              <div class="faq-resposta">Não! Para usar o aplicativo em uma conta de banhista, você não precisa de um plano. Os planos são apenas para ambulantes.</div>
            </div>
          </div>
          <script src="sac/duvidas/assets/script.js"></script>
</body>
</html>