@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #E9F6FF;
    background-image: url(img/Teste1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
}

.logo {
    position: absolute;
    z-index: 2;
    width: 25vw;
    left: 50%;
    top: 5vw;
    transform: translate(-50%);
}

.navbar {
    position: fixed;
    z-index: 4;
    bottom: 3vw;
    width: 98%;
    background-color: #ffffff;
    display: flex;
    border-radius: 5vw;
    justify-content: space-around;
    padding: 2vw 0;
    left: 1vw;
    border: solid 1px #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }
  
.navbar a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 4vw;
}

.navbar .active img{
    width: 7vw;
}

#NavInicio {
  color: #008B92;  
}

#voltar {
    position: absolute;
    z-index: 2;
    left: 2%;
    top: 0;
    width: 10vw;
    margin: 2vw;
}

.navSup{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.Clube{
    margin-top: 1vw;
    margin-right: 4vw;
    width: 10vw;
}

.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-barraca{
    display: flex;
    justify-content: center;
    margin-top: 11vw;
}

.img-barraca img{
    border-radius: 4vw;
    width: 95vw;
    height: 55vw;
}

.info-barraca{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 17vw;
}

.nome-barraca{
    margin-left: 5.3vw;
}
.titulo{
    margin: 0;
    margin-top: 5.3vw ;
    font-weight: bold;
    font-size: 5.5vw;
}

.data{
    margin: 0;
    margin-top: 1.5vw;
    color: #4E4E4E;
    font-size: 3.6vw;
    font-weight: 580;
}

.quantidade{
    display: flex;
    justify-content: end;
    margin: 0;
    margin-top: 5.3vw ;
    font-weight: bold;
    font-size: 6vw;
    color: #00404A;
}

.membros-text{
    margin: 0;
    color: #00404A;
    font-weight: bolder;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn-participar{
    margin-top: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10vw;
    width: 65%;
    background-color: #0A9396;
    border-radius: 4vw;
}

.titu-btn, .preco{
    margin: 3vw;
    color: #ffffff;
    font-weight: bold;
}

.caixa{
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    margin-bottom: 40vw;
}

.caixa-beneficios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    border-radius: 3vw;
    background-color: #ffffff; 
    border: #00404A 1px solid;
}

.titulo-beneficios{
    margin-left: 5vw;
    font-weight: bold;
    font-size: 5vw;
    color: #00404A;
}

.subtitulo-beneficios{
    margin: 0;
    margin-left: 5vw;
    font-weight: bold;
    font-size: 5vw;
    color: #00404A;
}

.lista{
    margin-left: 4vw;
}

.vantagens{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vantagens li{
    display: flex;
    align-items: center;
    margin-bottom: 4.4vw;
    padding-left: 3vw;
    font-weight: bold;
    font-size: 3.8vw;
}

.vantagens li::before{
    content: '';
    width: 10px; 
    height: 10px;
    background-color: #00404A;
    border-radius: 50%;
    margin-right: 10px;
} 

.diferencial{
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: left;
    margin-left: 5vw;
    font-weight: 500;
}

.diferencial img{
    width: 20vw;
}

.castelo{
    margin-top: -3vw;
    margin-left: 57vw;
}