<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/ambulante/AddProduto/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/ambulante/AddProduto/assets/style.css">
    <link rel="stylesheet" href="/ambulante/padrao/style.css">
    <script src="/ambulante/AddProduto/assets/script.js" defer></script>
    <title></title>
</head>
<body>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/ambulante/padrao/img/voltar.png" id="voltar"></a>
    </header>

    <img src="/ambulante/padrao/img/logo.svg" class="logo">


    <div class="corpo">
        <nav class="navbar">
            <a href="/inicialB" class="active" id="NavInicio"><img src="/ambulante/padrao/img/inicio.png" >Inicio</a>
            <a href="/dados" class="active" id="NavReserva"> <img src="/ambulante/padrao/img/dados.png" alt="">Dados</a>
            <a href="/CluberJSON/ClubeB" class="active" id="NavPedido"> <img src="/ambulante/padrao/img/clube.png" alt="">Clube</a>
            <a href="/comanda" class="active" id="NavPerfil"> <img src="/ambulante/padrao/img/comanda.png" alt="">Comanda</a>
            <a href="/perfilB" class="active" id="NavPerfil"> <img src="/ambulante/padrao/img/perfil.png" alt="">Perfil</a>
        </nav>
    </div>

    <section>
        <container class="geral">
            <input type="file" id="imgProduto" required="required" style="display: none;">
            <label  for="imgProduto" class="AddImg">
                <div class="Add" id="labelContent">
                    <img src="/ambulante/AddCarrinho/assets/img/AddImg.png">
                    <h2>ADICIONE UMA FOTO</h2>
                </div>
                <h3 id="verifique">*Verifique a foto antes de enviar</h3>
            </label>
            <form method="post" id="Form-AddProduto">

    
                <div>
                    <label>Nome</label>
                    <input 
                        type="text" 
                        id="nmProduto" 
                        class="inpts" 
                        placeholder="Digite o nome do seu produto"
                        required="required"
                    >
                </div>
    
                <div>
                    <label>Descrição</label>
                    <textarea placeholder="Escreva uma breve descrição sobre seu produto ou alguma caracteristica" id="dsProduto"></textarea>
                </div>
    
                <container class="Down">

                    <div class="inptsDown">
                        <h2>Categoria do produto </h2>
                        <select class="inpts2" id="dsCategoria">
                            <option value="doce">Doce</option>
                            <option value="salgado">Salgado</option>
                            <option value="bebida">Bebida</option>
                        </select>
                    </div>
    
                    <div class="inptsDown">
                        <h2>Vendido em</h2>
                        <select class="inpts2" id="dsTipo">
                            <option value="unidade">Unidade</option>
                            <option value="porção">Porção</option>
                        </select>
                    </div>
        
                    <div class="inptsDown">
                        <h2>Valor do produto </h2>
                        <div style="display: flex; align-items: center;">
                            <h1 class="preco">R$</h1>
                            <input 
                            type="number" 
                            class="inpts2" style="padding-left: 9vw; width: 32vw;" 
                            id="vlProduto"
                            required="required"    
                        > 
                        </div>
                    </div>
    
                    <div class="inptsDown">
                        <h2>Tempo minimo</h2>
                        <input 
                            type="number" 
                            class="inpts2" 
                            id="hrPreparo"
                            required="required"
                        > 
                    </div>
        
                </container>
                <div class="btn">
                    <button type="submit" id="btnAdd">Adicionar produto</button>
                </div>
            </form>
        </container>
    </section>

    <section id="BodyModalConf">
        <div class="blur"></div>
        <div class="ModalConfi">
            <h1>Produto adicionado com sucesso!</h1>
            <img src="/ambulante/AddProduto/assets/img/verificado2.png">
        </div>
    </section>
</body>
</html>