<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ambulante/padrao/style.css">
    <link rel="stylesheet" href="/ambulante/Termos/Assets/style.css">
    <title></title>
</head>

<body>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/ambulante/padrao/img/voltar.png" id="voltar"></a>
    </header>

    <img src="/ambulante/padrao/img/logo.svg" class="logo">

    <section class="Branco">
        <h1>Termos de Uso - Praioou</h1>

        <div class="txt">
            <p>
                Os serviços do PRAIOOU são fornecidos pela pessoa jurídica OU física com a seguinte Razão Social/nome: , com
                nome fantasia ___, inscrito no CNPJ/CPF sob o nº ___, titular da propriedade intelectual sobre software,
                website, aplicativos, conteúdos e demais ativos relacionados à plataforma PRAIOOU.
                1. Do objeto
                A plataforma visa licenciar o uso de seu software, website, aplicativos e demais ativos de propriedade
                intelectual, fornecendo ferramentas para auxiliar e dinamizar o dia a dia dos seus usuários.
                A plataforma caracteriza-se pela prestação do seguinte serviço: Hospedagem dos clientes no site/aplicativo
                (barraqueiro e Ativista); Aluguel do equipamento liberado pelo barraqueiro (cadeira e guarda-sol), que é
                caracterizado como “Reserva”; Clube de pontos; Pedidos; acesso a um mapa com pontos importantes; a
                divulgação de atividades como shows ou brincadeiras, iguais a banana bolt, etc (ativista);
                A plataforma realiza a venda e o aluguel à distância por meio eletrônico dos seguintes produtos ou serviços:
                Planos para hospedagem no site/aplicativo; Reserva do equipamento liberado pelo barraqueiro; pedidos.
                2. Da aceitação
                O presente Termo estabelece obrigações contratadas de livre e espontânea vontade, por tempo indeterminado,
                entre a plataforma e as pessoas físicas ou jurídicas, usuárias do OU site OU aplicativo.
                Ao utilizar a plataforma o usuário aceita integralmente as presentes normas e compromete-se a observá-las,
                sob o risco de aplicação das penalidades cabíveis.
                A aceitação do presente instrumento é imprescindível para o acesso e para a utilização de quaisquer serviços
                fornecidos pela empresa. Caso não concorde com as disposições deste instrumento, o usuário não deve
                utilizá-los.
                3. Do acesso dos usuários
            </p>
        </div>
    </section>

</body>

</html>