<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/clube/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/banhista/clube/assets/style.css">
    <title>Cardápio</title>
</head>
<body>
    
    <header class="navSup">
        <a onclick="window.history.back()"><img src="/banhista/padrao/img/voltar.svg" id="voltar"></a>
    </header>

    <img src="/banhista/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio"><img src="/banhista/padrao/img/Home.png" >Inicio</a>
            <a href="/reservas" class="active" id="NavReserva"> <img src="/banhista/padrao/img/Reserva.png" alt="">Reservas</a>
            <a href="/sacola" class="active" id="NavPedido"> <img src="/banhista/padrao/img/Pedido.png" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/padrao/img/perfil.png" alt="">Perfil</a>
        </nav>
    </div>

    <section class="geral">
        <div class="ttl">
            <h1>Clube</h1>
            <h3>Flor do Verão</h3>
        </div>

        <container>
            <div style="width: 100%">
                <div class="pontos">
                    <h2>Pontos Acumulados</h2>
                    <div>
                        <h3>120</h3>
                        <p>pontos</p>
                    </div>
                </div>
    
                <div class="barra">
                    <p style="font-size: 4vw; margin: 0; font-weight: 600;">mín</p>
                    <img src="/banhista/clube/assets/img/barra.png" style="width: 65vw;">
                    <p style="font-size: 4vw; margin: 0; font-weight: 600;"   >max</p>
                </div>
                
                <div style="width: 100%; display: flex; justify-content: center;">
                    <a href="/"><button id="btnRecompensas">Ver Recompensas</button></a>
                </div>

                <div class="historico">
                    <div class="ttlHistorico">
                        <h2 style="font-size: 6.5vw;">Histórico</h2>
                    
                    </div>
                </div>
            </div>
        </container>
    </section>
</body>
</html>
