.Bcgd h1{
    margin-top: 39vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4vw;
    color: #fff;
    font-weight: 600;
}

.Form{
    width: 100%;
    background-color: #EAF6FF;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: absolute;
    bottom: 0;
    border-radius: 8vw;
}

.ajusteForm{
    width: 90%;
    position: absolute;
    top: 6vw;
}

.NmSm{
    margin: 0;
    margin-bottom: 1vw;
    width: 2;
    font-size: 3vw;
    color: #515151;
    margin-left: 1vw;
    font-weight: 600;
}

.input{
    width: 93%;
    background-color: #fff;
    height: 3vw;
    margin-bottom: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;
    border-radius: 2vw;
    box-shadow: 0vw .5vw 2vw #BDC8CF;
}

.input p{
    font-weight: 700;
}

.lapis{
    width: 4vw;
}

.tel{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Pais{
    width: 15%;
    height: 5vw;
    margin-bottom: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    background-color: #fff;
    border-radius: 2vw;
    box-shadow: 0vw .5vw 2vw #BDC8CF;
}

.bandeira{
    width: 10vw;
}

.seta{
    width: 3vw;
}

.inputN{
    width: 70%;
    height: 3vw;
    margin-bottom: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;
    background-color: #fff;
    border-radius: 2vw;
    box-shadow: 0vw .5vw 2vw #BDC8CF;
}

.ajusteCd{
    display: flex;
    gap: 1vw;
}

.Parag{
    color: #515151;
    font-weight: 600;
}

.cpf{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputCpf{
    width: 84%;
    background-color: #fff;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;
    border-radius: 2vw;
    box-shadow: 0vw .5vw 2vw #BDC8CF;
}

#info{
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info img{
    width: 5vw;
}

.ajusteBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42vw;
}

.Btn{
    width: 74vw;
    background-color: #00404A;
    color: #fff;
    height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    font-weight: 600;
    border-radius: 6vw;
}

.link{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    height: 8vw;
}

.link a{
    text-decoration: none;
    font-size: 2vh;
    font-weight: 600;
    color: #0A9396;
}

#PopUp{
    width: 88%;
    height: 40vw;
    background-color: #fff;
    position: absolute;
    left: 2.5vw;
    top: 64vw;
    padding: 3vw;
    text-align: center;
    box-shadow: 0vw 0vw 6vw grey;
    border-radius: 2vw;
    visibility: hidden;
}

/*Modal Pais*/

#ModalPais{
    width: 90%;
    position: absolute;
    background-color: #fff;
}

.escolha{
    width: 100%;
    display: grid;
}

.PaisesFT{
    width: 20vw;
}