<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/sacola/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/banhista/sacola/assets/style.css">
    <script src="/banhista/sacola/assets/script.js" defer></script>
    <link rel="stylesheet" href="/banhista/padrao/style.css">
    <title>Sacola</title>
</head>

<body>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/banhista/padrao/img/voltar.svg" id="voltar"></a>
    </header>

    <img src="/banhista/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio" style="color: black;"><img src="/banhista/padrao/img/inicio.png" >Inicio</a>
            <a href="/suasReservas" class="active" id="NavReserva"> <img src="/banhista/cardapio/assets/img/Reserva.png" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido" style="color: #008B92;"> <img src="/banhista/padrao/img/sacola_colorida.png" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/cardapio/assets/img/Perfil.png" alt="">Perfil</a>
          </nav>
    </div>

    <section>
        <h2 class="nmBarraca">Barraca do Roberto</h2>
        <h4 class="sacola">Sacola</h4>
        
        <div class="geral">
            <div class="ttlProduto">
                <h1>Produtos</h1>
            </div>
            <div id="produtos">
                <div class="produto">
                    <img src="/uploads/pasteldecarne.jpg" class='imgProduto'> 
                    <div class="details">
                        <div class="nmsProd">
                            <h2>Pastel de carne</h2>
                            <p>Preço: R$15,00</p>
                        </div>
                        <div>
                            <div class="qtt">
                                <button class="diminuirQuantidade" id="diminuir-1"><img src="/banhista/sacola/assets/img/menos.svg" class="imgSinalMenos"></button>
                                <p class="quantidade" id="quantidade-1">1</p>
                                <button class="aumentarQuantidade" id="aumentar-1"><img src="/banhista/sacola/assets/img/mais.svg" class="imgSinalMais"></button>
                            </div>
                            <div class="apagar" id="Excluir">
                                <img src="/banhista/sacola/assets/img/lixeira.png" class="imgLixeira">
                            </div>
                            <div id="ModalExcluir" class="modal-exclusao">
                                <div class="blur"></div>
                                <div class="Excluir">
                                    <div class="x">
                                        <img src="/banhista/sacola/assets/img/x.png" class="FecharModalExcluir" />
                                    </div>
                                    <h3>Certeza que deseja excluir esse produto?</h3>
                                    <div class="imgExcluir">
                                        <img src="/banhista/sacola/assets/img/imgExcluir.png" />
                                    </div>
                                    <p>*Essa ação não poderá ser desfeita</p>
                                    <div class="divBtnExcluirModal">
                                        <button id="apagar-1">Excluir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <div class="resumo">
            <div class="total">
                <h3>Total</h3>
                <h3>R$ 15,00</h3>
            </div>
            <div>

            <button id="pagamento">
                Forma de pagamento
            </button>
            <div id="ModalPamento">
                <div class="blur"></div>
                <div id="FormadePagamento">

                    <div class="vlFinal">
                        <h1>Valor: <strong>R$ 15,00</strong></h1>
                    </div>

                    <label for="FormaDePagamento1" class="metodo"><p><img src="/banhista/sacola/assets/img/dinheiro.svg">  Dinheiro</p><input id="FormaDePagamento1" type="radio" name="FormaDePagamento" value="Dinheiro"></label>
                    <label for="FormaDePagamento2" class="metodo"><p><img src="/banhista/sacola/assets/img/cartao.svg">  Cartão</p><input id="FormaDePagamento2" type="radio" name="FormaDePagamento" value="Cartão"></label>
                    <label for="FormaDePagamento3" class="metodo"><p><img src="/banhista/sacola/assets/img/pix.svg">  Pix</p><input id="FormaDePagamento3" type="radio" name="FormaDePagamento" value="Pix"></label>

                    <a href="/compracerta"><button id="btnFinalizar">Finalizar Pedido</button></a>
                </div>
            </div>
            </div>
        </div>

    <div id="notificacao">
        <img src="/banhista/cardapio/assets/img/ItemAdd.png">
        <p>Produto Adicionado com sucesso</p>
    </div>
</body>
</html>
