<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/cardapio/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/banhista/cardapio/assets/style.css">
    <script src="/banhista/cardapio/assets/script.js" defer></script>
    <link rel="stylesheet" href="/banhista/padrao/style.css">
    <title>Cardápio</title>
</head>

<body>

    <img src="/ambulante/padrao/img/logo.svg" class="logo">
    
    <header class="navSup">
        <a onclick="window.history.back()"><img src="/ambulante/padrao/img/voltar.png" id="voltar"></a>
    </header>

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio" style="color: black;"><img src="/banhista/padrao/img/inicio.svg" >Início</a>
            <a href="/suasReservas" class="active" id="NavReserva"> <img src="/banhista/padrao/img/reservas.svg" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/banhista/padrao/img/sacola.svg" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/padrao/img/perfil.svg" alt="">Perfil</a>
        </nav>
    </div>

    <section>
        <h2 class="nmBarraca">Flor do Verão</h2>
        <h4 class="cardapio">Cardápio</h4>
    
        <div class="geral">
            <div class="btns">
                <a style="text-decoration: none;"><button id="btnFiltroSalgado">Salgado</button></a>
                <a style="text-decoration: none;"><button id="btnFiltroDoce">Doce</button></a>
                <a style="text-decoration: none;"><button id="btnFiltroBebida">Bebida</button></a>
            </div>
    
            <div class="pttl">
                <div class="ttl">
                    <h1>Salgados</h1>
                    <div class="right">
                        <div name="filtro" id="filtro">
                            <p>Filtrar</p>
                        </div>
                        <img src="/banhista/cardapio/assets/img/grade.png" alt="Ícone de grade">
                    </div>
                </div>
            </div>
    
            <div id="produtos">
                <div class="produto">
                    <img src="/uploads/pasteldecarne.jpg" class="imgProduto" alt="Imagem do Pastel">
                    <div class="details">
                        <h2>Pastel de Carne <img id="coracao" src="/banhista/cardapio/assets/img/coracao.svg" alt="Favoritar"></h2>
                        <p class="dsProduto">Delicioso pastel recheado com carne moída e temperos especiais.</p>
                        <div class="next">
                            <p class="valor"><strong>Valor:</strong> R$ 5,00</p>
                            <img class="seta" src="/banhista/cardapio/assets/img/next.svg" alt="Mais detalhes">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div id="resultado"></div>
    
    <dialog id="modalProduto">
        <header class="navSup">
            <a><img src="/banhista/padrao/img/voltar.svg" id="fecharModal" alt="Voltar"></a>
        </header>
        <img src="/banhista/padrao/img/logo.svg" class="logo" alt="Logo">
    
        <div class="geralModal">
            <div class="imgProdutoModal">
                <img src="/uploads/pasteldecarne.jpg" alt="Imagem do Pastel">
            </div>
            <img class="frente" id="imagem" onclick="trocarImagem()" src="/banhista/cardapio/assets/img/coracao.svg" alt="Favoritar">
            <div class="datailsModal">
                <div class="NmPc">
                    <div class="nomes">
                        <h2 id="modalNome">Pastel de Carne</h2>
                        <p id="modalPreco">R$ 5,00</p>
                    </div>
                    <div class="dsModal">
                        <p id="modalDescricao">Recheado com carne moída e temperos que garantem um sabor incrível.</p>
                        <p class="tmpEst">Tempo estimado: <strong id="tempoEspera">10</strong> min</p>
                    </div>
                    <div>
                        <textarea name="comentario" id="comentario" cols="30" rows="7" placeholder="Adicionar observação"></textarea>
                    </div>
                    <div class="qttModal">
                        <label for="quantidade">Quantidade:</label>
                        <div class="qtt">
                            <button id="diminuirQuantidade">
                                <img src="/banhista/cardapio/assets/img/menos.svg" class="imgSinalMenos" alt="Diminuir">
                            </button>
                            <input type="number" id="quantidade" value="1" min="1">
                            <button id="aumentarQuantidade">
                                <img src="/banhista/cardapio/assets/img/mais.svg" class="imgSinalMais" alt="Aumentar">
                            </button>
                        </div>
                    </div>
                    <div class="addSacola">
                        <button id="adicionarSacola">ADICIONAR</button>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    
    <div id="notificacao">
        <img src="/banhista/cardapio/assets/img/ItemAdd.png">
        <p>Produto Adicionado com sucesso</p>
    </div>

    <section id="modalBk" class="no-scroll ">
        <div class="modal">
            <div class="ajusteModal">
                <h1>Filtrar por</h1>

                <h3>Valor</h3>

                <div class="justifyValues">
                    <p>10</p>
                    <input type="text" id="display" value="10" readonly>
                    <p>250</p>
                </div>
                <div class="Pontos">
                    <div class="ponto"></div>
                    <div class="ponto"></div>
                </div>

                <div class="range-container">

                    <input type="range" id="myRange" name="vlcardapio" value="10" min="10" max="250"
                        oninput="display.value=value" onchange="display.value=value">
                </div>

                <h3>Tempo de espera</h3>
                <div class="radio">
                    <label class="Radios">
                        <input type="radio" name="tempo" class="inputR" value="10"> 
                        <span class="btnR">10 min</span>
                    </label>
                    <label class="Radios">
                        <input type="radio" name="tempo" class="inputR" value="15">
                        <span class="btnR">15 min</span>
                    </label>
                    <label class="Radios">
                        <input type="radio" name="tempo" class="inputR" value="20">
                        <span class="btnR">20 min</span>
                    </label>
                </div>
                <div class="radio">
                    <label class="Radios">
                        <input type="radio" name="tempo" class="inputR" value="25">
                        <span class="btnR">25 min</span>
                    </label>
                    <label class="Radios">
                        <input type="radio" name="tempo" class="inputR" value="30">
                        <span class="btnR">30 min</span>
                    </label>
                </div>


                <div class="btns">

                    <div id="btnL">Limpar Filtros</div>
                    <div id="btnF">Aplicar filtros</div>

                </div>
            </div>
    </section>
</body>
</html>
