<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/escolher/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/escolher/assets/style.css">
    <title>Escolha</title>
</head>
<body>
    <div class="blur"></div>
    <a href="/"><img src="/escolher/assets/img/voltar.png" id="voltar"></a>

    <img src="/escolher/assets/img/logo.png" class="logo">
    <div class="geral">
        <div class="ttls">
            <h1>Escolha um perfil</h1>
            <h4>E cadastre-se</h4> 
        </div>
        
        <div>
            <a href="/CadBarraqueiro"><button id="cdstBarraqueiro"><img src="/escolher/assets/img/cadeira.png">Ambulantes</button></a>
            <a href="/CadBanhista"><button id="cdstBanhista"><img src="/escolher/assets/img/bola.png">Banhista</button></a>
        </div>

        <div class="entrar">
            <h2 class="Cadastrar">Já possui conta? <a href="/">Entre aqui</a></h2>
        </div>
    </div>
</body>
</html>