<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="banhista/TutorialB/Assets/styles.css">
    <link rel="shortcut icon" type="imagex/png" href="banhista/TutorialB/Assets/img/iconWeb.svg">
    <title>Tutorial Banhista</title>
</head>
<body>
    <a href="/inicial"><div id="btnPular">Pular</div></a>

    <div class="blur"></div>

    <section id="parte1">
        <img src="banhista/TutorialB/Assets/img/1.png" alt="">

        <container id="Passo1">

            <div class="CardP1">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Olá, seja Bem-vindo ao Praioou. Eu sou o Zeca, e estou aqui para te ajudar nessa nova jornada! Irei te explicar os seus primeiros passos.
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte1')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte2">
        <img src="banhista/TutorialB/Assets/img/2.png" alt="">

        <container id="Passo1">

            <div class="CardP1">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Nessa tela você consegue ver os seus atalhos iniciais, você consegue ver o atalho para os carrinhos, clubes e ver o mapa com pontos de chuveirinho e banheiro
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte2')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte3">
        <img src="banhista/TutorialB/Assets/img/3.png" alt="">

        <container id="Passo1">

            <div class="CardP3">
                <div class="baseP3">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Nessa parte você consegue ver todos os carrinhos que estão perto de você, mais famosos e os clubes mais populares. 
                        Facilitando assim a sua procura no dia a dia, mas como essa é uma versão demo isso ainda não esta disponivel
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte3')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte4">
        <img src="banhista/TutorialB/Assets/img/4.png" alt="">

        <container id="Passo1">

            <div class="CardP1">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Agora vamos clicar aqui para ver todos os carrinhos cadastrados no praioou
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte4')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte5">
        <img src="banhista/TutorialB/Assets/img/5.png" alt="">

        <container id="Passo1">

            <div class="CardP5">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Nessa parte você consegue ver todos os carrinhos que fazem parte do praioou, filtrar por valor e cidade e selecionar o carrinho que mais te agrada, vamos clicar em um para continuar
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte5')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte6">
        <img src="banhista/TutorialB/Assets/img/6.png" alt="">

        <container id="Passo1">

            <div class="CardP6">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Nessa tela você consegue ver todas as informações do carrinho selecionado por você, como valor da reserva, localização, descrição, cardapio e até o clube daquele carrinho caso ele tenha
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte6')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte7">
        <img src="banhista/TutorialB/Assets/img/7.png" alt="">

        <container id="Passo1">

            <div class="CardP7">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Clicando nesse botão você consegue ir para a área de reserva para reservar a sua cadeira, e indo para o botaõ de baixo você consegue favoritar esse carrinho
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte7')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte8">
        <img src="banhista/TutorialB/Assets/img/8.png" alt="">

        <container id="Passo1">

            <div class="CardP8">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Aqui você consegue ver outros carrinhos que são sugeridos pra você, quem sabe você não se interessa por algum
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte8')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte9">
        <img src="banhista/TutorialB/Assets/img/9.png" alt="">

        <container id="Passo1">

            <div class="CardP9">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Nessa parte você consegue avaliar o carrinho, adicionar um comentario e ver os comentarios feitos por outrs banhistas.
                        Vamos voltar agora para efetivar um reserva
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte9')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte10">
        <img src="banhista/TutorialB/Assets/img/10.png" alt="">

        <container id="Passo1">

            <div class="CardP10">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Vamos clicar aqui agora para poder efetuar uma reserva
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte10')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte11">
        <img src="banhista/TutorialB/Assets/img/11.png" alt="">

        <container id="Passo1">

            <div class="CardP11">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Aqui você consegue selecionar o dia em que você deseja fazer a reserva, você consegue ver até 7 dias contando com o dia atual
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte11')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte12">
        <img src="banhista/TutorialB/Assets/img/12.png" alt="">

        <container id="Passo1">

            <div class="CardP12">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Aqui você consegue selecionar se a reserva é para você ou para outra pessoa, caso seja para outra pessoa você consegue adicionar o nome da pessoa para quem você esta fazendo a reserva
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte12')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte13">
        <img src="banhista/TutorialB/Assets/img/13.png" alt="">

        <container id="Passo1">

            <div class="CardP13">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Aqui você consegue selecionar o horario em que deseja afetuar a reserva, caso o horario não esteja disponivel ele ficara cinza
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte13')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte14">
        <img src="banhista/TutorialB/Assets/img/14.png" alt="">

        <container id="Passo1">

            <div class="CardP1">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Por ultimo você seleciona o numero de pessoas que estarão com você nessa reserva, sendo o maximo de oito pessoas por reserva, e em baixo você consegue conferir o valor da reserva antes de partir papa efetuar o pagamento
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte14')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte15">
        <img src="banhista/TutorialB/Assets/img/15.png" alt="">

        <container id="Passo1">

            <div class="CardP1">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Para finalizar a reserva basta clicar em reservar, você sera redirecionado para a API de pagamento, e após efetuar o pagamento sua reserva ja estara concluida
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte15')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte16">
        <img src="banhista/TutorialB/Assets/img/16.png" alt="">

        <container id="Passo1">

            <div class="CardP16">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Voltando para essa tela, ao clicar em cardapio você consegue ver o cardapio daquela barraca
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte16')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte17">
        <img src="banhista/TutorialB/Assets/img/17.png" alt="">

        <container id="Passo1">

            <div class="CardP16">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Voltando para essa tela, ao clicar em cardapio você consegue ver o cardapio daquela barraca e todos os itens que são vendidos por ela
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte17')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte18">
        <img src="banhista/TutorialB/Assets/img/18.png" alt="">

        <container id="Passo1">

            <div class="CardP16">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Aqui você consegue filtrar todos os produtos por doce, salgado, bebida e ainda consegue adicionar outros filtros como de valor maximo
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta" onclick="proximoPasso('parte18')"> 
                    </div>
                </div>
            </div>
        </container>
    </section>

    <section id="parte19">
        <img src="banhista/TutorialB/Assets/img/19.png" alt="">

        <container id="Passo1">

            <div class="CardP16">
                <div class="baseP1">

                    <img src="banhista/TutorialB/Assets/img/Intersect.png" class="imgCoquinhoP1">

                    <p>
                        Aqui estão listados todos os produtos que contem na barraca, ao clicar em algum deles você é redirecionado para outra tela onde consegue ver o valor, a descrição e adicionar o produto a sua sacola
                    </p>

                    <div class="DownT">
                        <img src="banhista/TutorialB/Assets/img/pontos.png" class="pontos">
                        <a href="/inicial"><img src="banhista/TutorialB/Assets/img/next 26.png" id="setaP1" class="imgSeta"></a>
                    </div>
                </div>
            </div>
        </container>
    </section>

    <script src="banhista/TutorialB/Assets/script.js"></script>
</body>
</html>