@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-image: url(img/Teste1.png);
  background-repeat: no-repeat;
  background-color: #e9f6ff;
  background-size: 100%;
}

body.dark{
  background-image: url(img/fundinho.svg);
  background-color: #282828;

  .reserva h2{
    color: #FFF;
  }

  .valor h3{
    color: #FFF;
  }

  .valor h5{
    color: #d5d5d5;
  }

  .line{
    border-bottom: 0.5px solid #bfbfbf;
  }

  .descri{
    border-bottom: 0.5px solid #bfbfbf;
  }

  .descri h3{
    color: #FFF;
  }

  .sugtext{
    color: #FFF;
  }

  .rating_progress-value .star {
    color: #008A93;
  }

  

  

}

* {
  font-family: "Montserrat", sans-serif;
}




.logo {
  position: absolute;
  z-index: 2;
  width: 22vw;
  left: 50%;
  top: 5vw;
  transform: translate(-50%);
}

.corpo{
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  z-index: 4;
  bottom: 3vw;
  width: 98%;
  background-color: #ffffff;
  display: flex;
  border-radius: 5vw;
  justify-content: space-around;
  padding: 2vw 0;
  left: 1vw;
  border: solid 1px #CCCCCC;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.navbar a {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-align: center;
  font-size: 4vw;
}


.navbar .active img{
  width: 7vw;
}

#voltar {
  position: absolute;
  z-index: 2;
  left: 3vw;
  top: 3vw;
  width: 7vw;
}

.blur {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}


.barraca {
  display: flex;
  align-items: center;
  justify-content: center;
}

.barraca img {
  width: 90vw;
  margin-top: 20vw;
  height: 55vw;
  border-radius: 5vw;
}

.imagem {
  margin-top: 5vw;
}

.selo img {
  width: 5.5vw;
  height: 5.5vw;
  border: 2px solid #007206;
  border-radius: 100%;
  background-color: rgb(1, 70, 47);
  margin-top: -8vw;
  margin-right: 70vw;
  padding: 1.5vw;
}

.selo {
  width: 100%;
  margin-top: -8vw;
  display: flex;
  justify-content: center;
}

.line {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info {
  margin-top: -7.5vw;
}

.reserva {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 2vw;
  margin-top: 4vw;
  font-family: "Montserrat", sans-serif;
}

.reserva h2 {
  color: #000;
}

.hora {
  width: 30vw;
  height: 9vw;
  background-color: darkcyan;
  border: none;
  margin: 4vw;
  border-radius: 8vw;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 4.5vw;
  color: #fff;
  font-weight: 700;
}

.info {
  display: flex;
  justify-content: space-around;
  gap: 12vw;
}

.valor {
  display: flex;
  justify-content: center;
  gap: 5vw;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  margin-top: -3vw;
}

.valor h3 {
  font-size: 7vw;
  color: #636363;
}

.valor h5 {
  color: #474747;
  margin-top: 6vw;
  font-weight: 600;
}

.border {
  background-color: #fff;
  border-radius: 100%;
  width: 11vw;
  margin-top: 4vw;
  height: 11vw;
  margin-right: 2vw;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#imagem {
  width: 8vw;
  height: 8vw;
  display: flex;
  align-self: center;
  transition: transform 0.4s ease;
}

#imagem:active {
  transform: scale(0.85);
}

.line {
  width: 100%;
  border-bottom: 0.5px solid #474747;
}

.descri {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 0.5px solid #474747;
  padding: 2.5vw;
}

.descri h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5vw;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 5vw;
  color: #363636;
  font-weight: 500;
}

.btns {
  display: flex;
  gap: 5vw;
}

.btns button {
  width: 27vw;
  height: 7vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #008a93;
  border: none;
  border-radius: 3vw;
  font-size: 4.5vw;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55vw;
  padding: 1.5vw;
  background-color: #00404a;
  color: #fff;
  border: none;
  font-size: 4.5vw;
  border-radius: 4vw;
  margin-top: 7vw;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-corpo {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 1px 3vw 3vw 3vw;
  border-radius: 3vw;
  width: 90%;
}

.fechar {
  position: absolute;
  left: 90%;
  top: 11%;
  color: #008b92;
  float: right;
  font-size: 9vw;
  font-weight: bold;
}

.enviar {
  width: 99%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.anonimo {
  width: 60%;
  display: flex;
  align-items: center;
  color: #8d8989;
  font-size: 3vw;
}

.perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}

.nome {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.digit {
  font-weight: 550;
  border: rgb(0, 0, 0, 0.4) 1px solid;
  padding-left: 2vw;
}
/* .Cardapio{ 
    width: 27vw;
    height: 7vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #FFF;
    background-color: #008A93;
    border: none;
    border-radius: 3vw;
    font-size: 4.5vw;

}

.EntrarClu{
    width: 27vw;
    height: 7vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #FFF;
    background-color: #008A93;
    border: none;
    border-radius: 3vw;
    font-size: 4.5vw;
} 
*/

.modal {
  display: none;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  margin-top: -5vw;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.Segestão {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-bottom: solid 1px #000;
  padding-bottom: 5vw;
  border-bottom: 0.5px solid #474747;
}

.sugtext {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  margin-right: 45vw;
}

.suges {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3vw;
}

.card {
  background-color: #e5f5ff;
  width: 28vw;
  height: 32vw;
  display: flex;
  flex-direction: column;
  border-radius: 2vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border: solid 1px #00000048;
}

.card h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
  margin-top: 1vw;
}

:root {
  --text-color: #008A93;
}

.appa {
  min-height: 10vw;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: grid;
  place-items: center;
  border-bottom: solid 1px #000;
  padding-bottom: 5vw;
  border-bottom: 0.5px solid #474747;
}

.app {
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: grid;
  place-items: center;
}

.rating {
  width: 75vw;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  flex-direction: column;
  display: flex;
}

.testing {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.rating_average {
  width: 30%;
  padding: 1rem;
  border-radius: 8rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30vw;
  margin-top: -8vw;
}

.rating_average h1 {
  font-size: 3rem;
}

.rating_average p {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

.rating_progress {
  width: 90%;
  margin-left: -15vw;
}

.rating_progress-value {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 1rem;
}

.rating_progress-value .star {
  font-size: 1.2rem;
  color: #00404a;
}

.rating_progress-value p:last-child {
  width: 10%;
}

.rating_progress .progress {
  flex: 1 1 0;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: #86aeb4;
}

.bar {
  height: 100%;
  background-color: #00404a;
  border-radius: 0.5rem;
}

.rating_average {
  display: flex;
  color: #86aeb4;
}

.star-outer {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 4vw;
  color: #86aeb4;
  cursor: pointer;
}

.star-outer .star {
  color: #86aeb4;
}

.star-outer .star.selected,
.star-outer .star:hover {
  color: #00404a;
}

.star-outer .star.selected ~ .star {
  color: #86aeb4;
}

.teste {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vw;
  gap: 2vw;
}

.ratingg {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.testingg {
  display: flex;
  flex-direction: column;
}

.o {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rating_averagee {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}

.rating_averagee h1 {
  font-size: 5vw;
}

.btn {
  background-color: #00404a;
  color: #fff;
  width: 40vw;
  height: 7vw;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  border: none;
  text-align: center;
  border-radius: 1vw;
  font-size: 3.6vw;
}

#comentarios {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
  margin-top: 5vw;
  margin-bottom: 8vw;
}

.rating1 {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  margin-left: 5vw;
  margin-top: 8vw;
}

.comentario {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
}

.estrutura {
  width: 100%;
  border-radius: 2vw;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0vw 0vw 2vw 1vw;
}

.cliente {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.estrelaa {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  gap: 5vw; */
}

.estrela {
  display: flex;
  align-items: center;
}

.qtEstrela {
  margin: 2vw;
  color: #474747;
  font-weight: 700;
  font-size: small;
}

.estrela2 {
  padding-left: 0.7vh;
}

.cliente-img {
  width: 11vw;
  height: 11vw;
  border-radius: 100%;
}

.cliente h3 {
  margin: 0;
  font-size: 4.3vw;
  font-weight: 600;
}

.cliente h4 {
  margin: 0;
  font-size: 3vw;
  font-weight: 700;
  color: #8d8989;
}

.coment {
  margin: 5vw 3vw 5vw 3vw;
  max-width: 100%;
  word-break: break-all;
  font-size: 4vw;
}

.comentDatelhes {
  padding: 2vw 0 0 2vw;
  display: flex;
  margin: 2vw;
  justify-content: space-between;
}

.reacoes {
  width: 93%;
  display: flex;
  justify-content: end;
  margin-bottom: 2vw;
  gap: 6vw;
}

.like-deslike {
  display: flex;
  gap: 2vw;
}

.reacoes button {
  width: 15vw;
  border: none;
  background: transparent;
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.reacoes img {
  width: 5.2vw;
}

.body-coment {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
}
