<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/TrocarConta/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/banhista/TrocarConta/assets/style.css">
    <script src="/banhista/TrocarConta/assets/script.js" defer></script>
    <title>Trocar Conta</title>
</head>
<body>
    <img src="/banhista/TrocarConta/assets/img/logo.png" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio"><img src="/banhista/cardapio/assets/img/HomeClick.png" >Inicio</a>
            <a href="#" class="active" id="NavReserva"> <img src="/banhista/cardapio/assets/img/Reserva.png" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/banhista/cardapio/assets/img/Pedido.png" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/cardapio/assets/img/Perfil.png" alt="">Perfil</a>
          </nav>
    </div>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/ambulante/planos/assets/img/voltar.png" id="voltar"></a>
    </header>

    <div class="container">
        <div class="texto">
            <h1>Trocar Contas</h1>
            <h4>Escolha a conta que deseja utilizar no Praioou</h4>
        </div>
    </div>

        <div class="contas">
            <div class="conta-conec">
                <div class="titu-conta">
                    <h1>Conta conectada atualmente</h1>
                </div>
                <div class="conta-conect">
                    <img src="/banhista/TrocarConta/assets/img/perfil.png" width="35px" class="foto-conta">
                    <div class="info">
                        <p>eaipraioou@gmail.com</p>
                        <img src="/banhista/TrocarConta/assets/img/correto.png" width="20px">
                    </div>
                </div>
            </div>

            <div class="conta-conec">
                <div class="titu-conta">
                    <h1>Contas não conectadas</h1>
                </div>
                <div class="conta">
                    <img src="/banhista/TrocarConta/assets/img/perfil.png" width="35px" class="foto-conta">
                    <div class="info">
                        <p>rafaeldantas@gmail.com</p>
                        <img src="/banhista/TrocarConta/assets/img/close.png" width="20px">
                    </div>
                </div>
                <div class="conta">
                    <img src="/banhista/TrocarConta/assets/img/perfil-2.png" width="35px" class="foto-conta">
                    <div class="info">
                        <p>roseli@gmail.com</p>
                        <img src="/banhista/TrocarConta/assets/img/close.png" width="20px">
                    </div>
                </div>
            </div>

    <div class="adicionar">
        <div>
            <button class="add-conta" id="adicionarconta">adionar Conta</button>
        </div>
    </div>

    <div class="modal" id="modal">
        <div class="modal-content">
            <div class="titu-modal">
                <h1>O que deseja fazer?</h1>
            </div>
            <div class="btn-modal">
                <button>Adicionar conta existente</button>
                <button>Criar uma nova conta</button>
            </div>
        </div>
    </div>
</body>
</html>