@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}

body{
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

body.dark{
  background-image: url(img/Group\ 138.svg);
  background-color: #9F6C00;

  .titulos h5{
    color: #dad5d5;
  }

  .head h1{
    color: #fff;
  }

  .faq-resposta, .faq-pergunta {
    color: #fff;
    border: 0.6vw solid #44737a;
  }

  .navbar{
    background-color: #555555;
    border: solid 1px #535353b9;
  }

}

.navbar {
  position: fixed;
  z-index: 4;
  bottom: 3vw;
  width: 98%;
  background-color: #ffffff;
  display: flex;
  border-radius: 5vw;
  justify-content: space-around;
  padding: 2vw 0;
  left: 1vw;
  border: solid 1px #CCCCCC;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.navbar a {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-align: center;
  font-size: 4vw;
}

.navbar .active img {
  width: 7vw;
}

#NavInicio {
  color: #008B92;
}

.caixa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 43vw;
}

.titulos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.titulos h5 {
  margin-top: -4vw;
  text-align: center;
  color: #515151;
  width: 84vw;
  font-size: 3vw;
  font-weight: 800;
}

.head {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
  color: #00404A;
  font-size: 4vw;
}

.faq {
  width: 94%;
}

.faq-item {
  margin-bottom: 5vw;
}

.faq-pergunta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5vw;
    background-color: #fff;
    color: #00404A;
    font-weight: bold;
    border: 0.6vw solid #00404A;
    border-radius: 2vw;
    
}

.faq-resposta {
  margin-top: 2vw;
  padding: 2vw;
  font-size: 4vw;
  font-weight: 500;
  background-color: #fff;
  border: 0.6vw solid #00404A;
  border-radius: 2vw;
  display: none;
  padding-left: 4vw;
}

.faq-item.ativado .faq-resposta {
  display: block; 
}

.faq-pergunta img.faq-seta {
    transition: transform 0.3s ease;
}
  
.faq-item.active .faq-pergunta img.faq-seta {
    transform: rotate(180deg);
}
  