@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

body{
    background-image: url(./img/background.png);
   background-repeat: no-repeat;
   background-size: 100%;
   background-color: #E8B05B;
}

.logo {
    position: absolute;
    z-index: 2;
    width: 25vw;
    left: 50%;
    top: 5vw;
    transform: translate(-50%);
}

.navbar {
    position: fixed;
    z-index: 4;
    bottom: 3vw;
    width: 98%;
    background-color: #ffffff;
    display: flex;
    border-radius: 5vw;
    justify-content: space-around;
    padding: 2vw 0;
    left: 1vw;
    border: solid 1px #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }
  
  .navbar a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 4vw;
  }


  .navbar .active img{
    width: 7vw;
  }

#NavInicio {
  color: #008B92;  
}

a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#voltar {
    position: absolute;
    z-index: 2;
    left: 2%;
    top: 0;
    width: 10vw;
    margin: 2vw;
}

.title{
    display: flex;
    margin-top: 33vw;
    gap: 1vw;
    flex-direction: column;

}

.titulo{
    font-size: 5.5vw;
    font-family: "Montserrat", sans-serif;
    margin-left: 1.5vw;
}

.subtitulo{
    font-size: 4vw;
    font-family: "Montserrat", sans-serif; 
    font-weight: 600;
    margin-top: -6vw;
    margin-left:6.5vw;
}

.test{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/gradiente.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 15vw;
}

.produt{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #0A9396;
    border-bottom: 2px solid #0A9396;
   width: 75vw;
   height: 11vw;
}