<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/PADRAO/img/iconWeb.svg">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" /> <!-- CSS próprio do LeafLet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script> <!-- Permite o mapa renderizar-->
    <link rel="stylesheet" href="banhista/mapa/assets/style.css">
    <title>Praioou</title>
</head>
<body>
    <nav class="topo">
        <img id="btn_voltar" src="banhista/mapa/assets/img/seta.png" onclick="window.history.back()"> <!-- adicione o caminho para a tela inicial -->
        <div id="copyright">
            <img id="logo_praioou" src="banhista/mapa/assets/img/logo_color.png">
            <div class="leaflet-control-attribution leaflet-control"><a href="https://leafletjs.com" title="A JavaScript library for interactive maps"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" class="leaflet-attribution-flag"><path fill="#4C7BE1" d="M0 0h12v4H0z"></path><path fill="#FFD500" d="M0 4h12v3H0z"></path><path fill="#E0BC00" d="M0 7h12v1H0z"></path></svg> Leaflet</a> <span aria-hidden="true">|</span> © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors</div>
        </div>
        <button id="geolocalBtn">
            <img id="geolocalImg" src="banhista/mapa/assets/img/localizar.png" alt="Geolocalização">
        </button>
        </nav>
    <mapa>
        <div id="map"></div>
    </mapa>
    <div id="ModalLoc">
        <img src="banhista/mapa/assets/img/aviso.png" style="width: 20vw;" alt="Icone de aviso vermelho, tenha atenção">
        <h3>Ops!</h3>
        <p>
            Não conseguimos acessar a sua localização no momento.  
            Para melhorar sua experiência com o nosso mapa, por favor, ative a localização no seu dispositivo.
        </p>
        <button id="btnAtivar">Ativar minha localização</button>
    </div>
    <div id="carrossel">
        <div id="carrossel-tab"></div>
        <div class="carrossel-horizontal">
            <div class="carrossel-item" data-index="1">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/banheiro_posto_04.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Banheiro<span class="distanciaMetros"> KM</span></h2>
                    <h3>Localização:</h3>
                    <span>José Menino, Santos - SP</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="2">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_4.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 4<span class="distanciaMetros"> KM</span></h2>
                    <h3>Localização:</h3>
                    <span>Av. Pres. Wilson, S/N - José Menino, Santos - SP, 11065-201</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="3">
                <div id="ponto"><img src="banhista/mapa/assets/img/Imagem indisponível.png"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 5<span class="distanciaMetros"> KM</span></h2>
                    <h3>Localização:</h3>
                    <span>Av. Pres. Wilson, Quiosque 01 - José Menino, Santos - SP, 11065-700</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="4">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_6.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 6 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Av. Pres. Wilson, 4439 - José Menino, Santos - SP, 11065-200</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="5">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_7.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 7 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>José Menino, Santos - SP</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="6">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_8.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 8 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Av. Pres. Wilson, 4439 - José Menino, Santos - SP, 11065-200</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="7">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/banheiro_02.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Banheiro <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Av. Pres. Wilson, 4075-4023 - José Menino, Santos - SP, 11065-200</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="8">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_9.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 9 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Pompéia, Santos - SP</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="9">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_10.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 10 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Pompéia, Santos - SP</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="10">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_11.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 11 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Pompéia, Santos - SP</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="11">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/banheiro_posto_04.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Banheiro <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Posto 2 - Praça do Surfista - Pompéia, Santos - SP, 11065-200</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="12">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_12.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 12 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>R. Alm. Custódio de Mello, 2-20 - Pompéia, Santos - SP, 11065-210</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="13">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_13.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 13 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>José Menino, Santos - SP</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="14">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/banheiro_03.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Banheiro <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Próximo à Avenida Doutor Bernardino de Campos, Av. Pres. Wilson, S/N - Gonzaga, Santos - SP, 11065-200</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="15">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/banheiro_02.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Banheiro <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Pompéia, Santos - SP</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="16">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_14.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 14 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Gonzaga, Santos - SP</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="17">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_15.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 15 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Gonzaga, Santos - SP</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="18">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_16.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 16 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Av. Pres. Wilson - José Menino, Santos - SP, 11065-200</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="19">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_17.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 17 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Av. Pres. Wilson, 24 - Gonzaga, Santos - SP, 11065-200</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="20">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_18.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 18 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Av. Pres. Wilson - Gonzaga, Santos - SP, 11065-200</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="21">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/banheiro_posto_bombeiro.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Banheiro <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Av. Pres. Wilson, 12-14 - José Menino, Santos - SP, 11065-200</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="22">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_19.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 19 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Gonzaga, Santos - SP, 11045-501</span>
                </div>
            </div>
            <div class="carrossel-item" data-index="23">
                <div id="ponto"><img src="banhista/mapa/assets/img/fotos/chuveirinho_20.jpg"></div>
                <div class="ponto-info">
                    <h2 class="arranjo-ponto">Chuveirinho 20 <span class="distanciaMetros">0</span></h2>
                    <h3>Localização:</h3>
                    <span>Av. Vicente de Carvalho, 76 - José Menino, Santos - SP, 11045-501</span>
                </div>
            </div>            
        </div>
    </div>
    <section class="ajuste-base">
        <div class="base">
            <button id="btn_chuveirinhos"><img src="banhista/mapa/assets/img/btn_chuveirinho.png" style="width: 9vw;">Chuveirinhos</button>
            <button id="btn_banheiros"><img src="banhista/mapa/assets/img/btn_banheiros.png" style="width: 9vw;">Banheiros</button>
        </div>
        <div id="lista-container" class="oculto">
            <div id="lista-filtrada" class="card-lista"></div>
        </div>        
    </section>
<script src="banhista/mapa/assets/script.js"></script>
</body>
</html>