<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/login/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="login/assets/style.css">
    <link rel="manifest" href="/manifest.json">
    <script src="/login/assets/script.js" defer></script>
    <title>Login</title>
</head>

<body>
    <div class="blur"></div>

    <img src="/login/assets/img/logo.png" class="logo">
    <div class="geral">

        <div class="inpts">
            <h2>Faça seu login</h2>

            <div id="form-login">
                <div>

                    <input type="email" id="email" name="emailDigit" class="input" placeholder="E-mail" required="required">

                    <input type="password" id="senha" name="senhaDigit" class="input" placeholder="Senha" required="required">
                </div>

                <h4> <a href="#">Esqueceu a senha?</a> </h4>
            </div>

            <div class="ou">
                <div class="barra"></div>
                <h3>OU</h3>
                <div class="barra"></div>
            </div>

            <div class="redes">
                <div><img src="/login/assets/img/google.png"></div>
                <div><img src="/login/assets/img/facebook.png"></div>
                <div><img src="/login/assets/img/outlook.png"></div>
            </div>

            <a href="/inicial"><button id="Entrar">Entrar</button></a>
            <p class="Cadastrar">Não possui conta? <a href="/escolher">Cadastre-se</a></p>
            <button id="installBtn" class="baixar">Baixar App</button>
        </div>
    </div>

    <dialog id="msgErroSenha" class="ModalErro">
        <div class="modal-background" id="modalBackground"></div>
        <div id="Erro">
            <div class="ajustes">
                <img src="/login/assets/img/CoquinhoTriste.png">
                <h1> Ops! </h1>
                <p class="p">Parece que sua senha está errada, por favor tente novamente</p>
                <button id="btnVoltarSenha">Tentar Novamente</button>
                <p>Esqueceu a senha? <a href="#">Clique Aqui</a></p>
            </div>
        </div>
    </dialog>

    <dialog id="msgErroEmail" class="ModalErro">
        <div class="modal-background" id="modalBackground"></div>
        <div id="Erro">
            <div class="ajustes">
                <img src="/login/assets/img/CoquinhoTriste.png">
                <h1> Ops! </h1>
                <p class="p">Usuário não encontrado!</p>
                <button id="btnVoltarEmail">Tentar Novamente</button>
                <p>Não possui uma conta? <a href="/escolher">Clique Aqui</a></p>
                
            </div>
        </div>
    </dialog>

</body>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js')
            .then(registration => {
                console.log('Service Worker registrado com sucesso:', registration.scope);
            })
            .catch(error => {
                console.log('Falha ao registrar o Service Worker:', error);
            });
    }

    let deferredPrompt;
        const installBtn = document.getElementById('installBtn');

        // Detectando quando o PWA pode ser instalado
        window.addEventListener('beforeinstallprompt', (event) => {
            event.preventDefault(); // Impede a instalação automática
            deferredPrompt = event;
            installBtn.style.display = 'block'; // Exibe o botão

            // Ao clicar no botão de instalação
            installBtn.addEventListener('click', () => {

                // Mostra o prompt de instalação
                deferredPrompt.prompt();

                // Espera o usuário responder ao prompt
                deferredPrompt.userChoice.then((choiceResult) => {
                    if (choiceResult.outcome === 'accepted') {
                        console.log('Usuário aceitou a instalação');
                    } else {
                        console.log('Usuário rejeitou a instalação');
                    }
                    deferredPrompt = null;
                });
            });
        });

        // Verifica se o PWA já foi instalado
        window.addEventListener('appinstalled', (event) => {
            console.log('PWA foi instalado');
            installBtn.style.display = 'none'; // Esconde o botão após a instalação
        });


        if (screen.orientation && screen.orientation.lock) {
            screen.orientation.lock("portrait") // ou "landscape"
            .then(() => {
            console.log("Orientação bloqueada!");
            })
            .catch((error) => {
            console.error("Falha ao bloquear a orientação:", error);
            });
        } else {
        console.log("API de Orientação de Tela não suportada neste navegador.");
        }

</script>

</html>