@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #E9F6FF;
    background-image: url(img/Teste1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.corpo {
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    z-index: 4;
    bottom: 3vw;
    width: 98%;
    background-color: #ffffff;
    display: flex;
    border-radius: 5vw;
    justify-content: space-around;
    padding: 2vw 0;
    left: 1vw;
    border: solid 1px #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.navbar a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 4vw;
}


.navbar .active img {
    width: 7vw;
}

#NavInicio {
    color: #008B92;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.Clube {
    width: 10vw;
}

#voltar {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 10vw;
    margin: 2vw;
}

.logo {
    position: absolute;
    z-index: 2;
    width: 25vw;
    left: 50%;
    top: 5vw;
    transform: translate(-50%);
}

.navSup {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.volta {
    width: 9vw;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 22%;
}

.texto {
    margin-left: 4%;
    text-align: start;
}

.texto h1 {
    font-family: "Montserrat", sans-serif;
}

.texto h4 {
    margin-top: -12%;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
}

#filter {
    margin-right: 2vw;
    border-radius: 20vw;
    width: 25vw;
    padding: 1vw;
    font-size: 5vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;
    border: none;
    background-color: #008A93;
}

#option {
    font-size: 8vw;
}

.caixaP {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 5.5vw;
}


.caixa {
    display: flex;
    width: 95vw;
    height: 28vw;
    background-color: #fff;
    border-radius: 4vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: solid 2px rgb(84, 84, 84);
}

.caixaE {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 28vw;
    background-color: #fff;
    border-radius: 4vw;
    border: solid 2px rgb(84, 84, 84);
}

.caixaR {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 28vw;
    background-color: #fff;
    border-radius: 4vw;
    border: solid 2px rgb(84, 84, 84);
}

.escrita {
    display: flex;
    flex-direction: column;
    padding: 0vw 2vw 0vw 0vw;
    justify-content: center;
}

.escrita h2 {
    margin-top: 1.5vw;
    margin-left: 3vw;
    font-size: 4vw;
    font-family: "Montserrat", sans-serif;
    color: #000;
}

.escrita p {
    margin-top: -4vw;
    font-size: 2.5vw;
    margin-left: 5vw;
    margin-top: -1vw;
    font-family: "Montserrat", sans-serif;
}

.price {
    display: flex;
    margin-top: -4vw;
    margin-right: 5vw;
    font-size: 3vw;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    color: black;
    gap: 8vw;

}

.price h6 {
    margin-left: 4vw;
    font-size: 2.5vw;
    margin-top: 4vw;
    color: #575757;
}

.priceE {
    display: flex;
    margin-top: -4vw;
    margin-left: 5vw;
    font-size: 3vw;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
}

.priceE h6 {
    margin-right: 7vw;
    font-size: 2.5vw;
    margin-top: 4vw;
    color: #575757;
}

.img img {
    height: 28vw;
    width: 33vw;
    border-radius: 3vw 0 0 3vw;
    object-fit: cover;
}

.corpo {
    padding: 0;
    margin: 0;
}

#modalBk {
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 102vh;
    align-content: end;
    flex-wrap: wrap;
    backdrop-filter: brightness(0.5);
}

.modal {
    width: 100%;
    height: 50%;
    background-color: #fff;
    border-radius: 8vw 8vw 0vw 0vw;
    display: grid;
    justify-content: center;
}

.ajusteModal {
    width: 90vw;
    height: 62vw;
}

.ajusteModal h1 {
    font-size: 7vw;
}

.ajusteModal h3 {
    font-size: 5vw;
    color: #454545;
}

.modal p {
    color: #454545;
    font-weight: 600;
    font-size: 1.9vh;
    margin: 0;
}

input#display {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    font-size: 5vw;
    font-weight: 600;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;
    color: #454545;
    outline: none;
}

.range-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8vw;
}

input#myRange {
    transform: scale(2);
    width: 45vw;
    appearance: none;
    display: block;
    background-color: #008B92;
    border-radius: 2vw;
    height: 1vw;
    outline: none;
}

/*bolinha no chrome e no edge*/
[type="range"]::-webkit-slider-thumb {
    appearance: none;
    display: block;
    width: 2vw;
    height: 2vw;
    background-color: #00404A;
    border-radius: 2vw;
    z-index: 2;
    position: relative;
}

/*bolinha no firefox*/
[type="range"]::-moz-range-thumb {
    appearance: none;
    display: block;
    width: 2vw;
    height: 2vw;
    background-color: #00404A;
    border-radius: 2vw;
}

.justifyValues {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.justifyValues p {
    color: #848484;
    font-weight: 600;
    font-size: 2.5vh;
    margin: 0;
}


.Pontos {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 11.5vw;
    margin-top: -10vw;
    gap: 80vw;
}

.ponto {
    background-color: #00404A;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
}

.Radios {
    background-color: #008B92;
    color: #ffffff;
    height: 10vw;
    font-weight: 600;
    font-size: 4.5vw;
    width: 18vh;
    border-radius: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Radios span {
    font-size: 2vh;
    text-align: center;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 2vw;
    width: 97vw;
    transform: translate(-4%, 0%);
}

.inputR {
    display: none;
}


.btns {
    display: flex;
    width: 100%;
    gap: 8vw;
    justify-content: center;
    margin-top: 8vw;
}

#btnL {
    border: .3vw solid #00404A;
    color: #00404A;
    height: 10vw;
    font-weight: 600;
    font-size: 4.5vw;
    width: 18vh;
    border-radius: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnF {
    border: .3vw solid #00404A;
    background-color: #00404A;
    color: #ffffff;
    height: 10vw;
    font-weight: 600;
    font-size: 4.5vw;
    width: 18vh;
    border-radius: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-scroll {
    overflow: hidden;
}