<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/compracerta/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/banhista/compracerta/assets/style.css">
    <title>Pagamento </title>
</head>
<body>
    <div id="msgSucesso">
        <div class="blur"></div>
        <div class="msgCorpo">
            <h1>Pagamento Confirmado</h1>
            <img src="/banhista/compracerta/assets/img/ZecaMoney.png" class="coquinho">
            <h2>*Seu pagamento foi confirmado, em breve seu pedido sera feitos</h2>
            <a href="/inicial"><button id="msgBtnConcluir">Concluir</button></a>
        </div>
    </div>

</body>
</html>