@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #E9F6FF;
    background-image: url(img/fundoGeral.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
}

.logo {
    position: absolute;
    z-index: 2;
    width: 25vw;
    left: 50%;
    top: 5vw;
    transform: translate(-50%);
}

.navbar {
    position: fixed;
    z-index: 4;
    bottom: 3vw;
    width: 98%;
    background-color: #ffffff;
    display: flex;
    border-radius: 5vw;
    justify-content: space-around;
    padding: 2vw 0;
    left: 1vw;
    border: solid 1px #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }
  
.navbar a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 4vw;
}

.navbar .active img{
    width: 7vw;
}

#NavInicio {
  color: #008B92;  
}

#voltar {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 10vw;
    margin: 2vw;
}

.navSup{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 28vw;
}

.texto{
    padding-left: 4vw;
}

.texto h1{
    font-family: "Montserrat", sans-serif;
}

.texto h4{
    margin-top: -7%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 4vw;
    padding-left: 4vw;
}

.caixa{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    background-color: #E9F6FF;
    margin-top: -2vw;
    border-radius: 9.5vw;
}

.planos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6vw;
    margin-bottom: 6vw;
    margin-top: 8vw;
}

.maresia, .AguaDeCoco, .peNaAreia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 21.5%;
    height: 33vw;
    gap: 5vw;
    padding: 2vw;
    border-radius: 2vw 14vw 2vw 2vw;
    color: #fff;
    margin-left: 1vw;
    border: 0.5px solid rgba(0, 0, 0, 0.109);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 10px;
}

.maresia p, .AguaDeCoco p, .peNaAreia p{
    margin: 0;
    font-weight: 500;
    font-size: 4.2vw;
}

.maresia {
    background-color: #21B4BC;
}

.AguaDeCoco {
    background-color: #008B92;
}

.peNaAreia {
    background-color: #00404A;
}

.imgPlano{
    padding-top: 3vw;
    width: 50px;
}

.modal{
    display: flex;
    justify-content: center;
}

.modalPlano{
    width: 90%;
    border-radius: 5vw;
    border: #00404A 1.4vw solid;
    background-color: #fff;
    margin-bottom: 20vw;
}

.tituloModal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #00404A;
    font-weight: bolder;
    font-size: 5.4vw;
    gap: 1vw;
}

.vantagens{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vantagens li{
    display: flex;
    align-items: center;
    margin-bottom: 4.4vw;
    padding-left: 3vw;
    font-weight: bold;
    font-size: 3.8vw;
}

.vantagens li::before{
    content: '';
    width: 15px; 
    height: 15px;
    background-color: #00404A;
    border-radius: 50%;
    margin-right: 10px;
} 

.tempoPlano{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 2vw;
}

.mensal, .semestral, .anual{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #00404A;
    gap: 1vw;
}

.assinar{
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
}

.btn-assinar{
    background-color: #00404A;
    color: #fff;
    padding: 3vw;
    font-size: 4.4vw;
    font-weight: 500;
    border-radius: 7vw;
    border: none;
    width: 70%;
}

.termos{
    margin-left: 7vw;
    display: flex;
    flex-direction: row;
    margin-top: -20vw;
    margin-bottom: 12vw;
    font-size: 5vw;
    gap: 3vw;
}

.termos a{
    color: #008B92;
}

.checkbox-oliginal {
    display: none;
}

.checkbox-fake {
    display: inline-block;
    margin-top: 8vw;
    width: 14vw;
    height: 8vw;
    background-color: #f0f0f0; 
    border: 2px solid #ccc;
    border-radius: 2vw;
    cursor: pointer;
    position: relative;
}

.checkbox-fake::after {
    content:url(./img/confere.png);
    position: absolute;
    top: 1.5vw;
    left: 1.5vw;
    opacity: 0;
}

.checkbox-oliginal:checked + .checkbox-fake:after {
    opacity: 1;
}


.checkbox-oliginal:checked + .checkbox-fake {
    background-color: #00404A;
    border-color: #00404A;
}



