<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/sacola/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/banhista/SacolaSemReserva/assets/style.css">
    <title>Sacola sem Reserva</title>
</head>
<body>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/banhista/padrao/img/voltar.svg" id="voltar"></a>
    </header>

    <img src="/banhista/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio"><img src="/banhista/cardapio/assets/img/HomeClick.png" >Inicio</a>
            <a href="#" class="active" id="NavReserva"> <img src="/banhista/cardapio/assets/img/Reserva.png" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/banhista/cardapio/assets/img/Pedido.png" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/cardapio/assets/img/Perfil.png" alt="">Perfil</a>
          </nav>
    </div>


    <div class="title">
        <h2 class="titulo">SACOLA</h2>
        <h4 class="subtitulo">Seus pedidos reunidos</h4>
    </div>

    <div class="daddy">

    <div class="caixa">
        <h2 class="linha">Barraca do Zé</h2>
        <div class="value">
       <h4 class="size">Itens adicionados: <strong>12</strong></h4>
       <div class="row">
       <h4 class="size" >Valor total: <strong>R$ 512,10</strong></h4>
      <button class="btn">Visualizar compra</button>
       </div>
    </div>
    </div>

    <div class="caixa">
        <h2 class="linha">Barraca do Gordo</h2>
        <div class="value">
       <h4  class="size" >Itens adicionados: <strong>12</strong></h4>
       <div class="row">
       <h4  class="size" >Valor total: <strong>R$ 512,10</strong></h4>
      <button class="btn">Visualizar compra</button>
       </div>
    </div>
    </div>

</div>
  
</body>
</html>