@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #E9F6FF;
    background-image: url(img/Teste1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
}


body.dark{
    background-image: url(img/fundinho.svg);
    background-color: #282828;

    .btnsCupon{
        background-color: #282828;
    }

    .texto h1{
        color: #FFF;
    }

    .texto h4{
        color: #FFF;
    }
}

.logo {
    position: absolute;
    z-index: 2;
    width: 22vw;
    left: 50%;
    top: 5vw;
    transform: translate(-50%);
}

.corpo{
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    z-index: 4;
    bottom: 3vw;
    width: 98%;
    background-color: #ffffff;
    display: flex;
    border-radius: 5vw;
    justify-content: space-around;
    padding: 2vw 0;
    left: 1vw;
    border: solid 1px #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
  
.navbar a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 4vw;
}


.navbar .active img{
    width: 7vw;
}

#voltar {
    position: absolute;
    z-index: 2;
    left: 3vw;
    top: 3vw;
    width: 7vw;
}

.blur {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.container {
    display: flex;
    margin-top: 30vw;
}

.texto {
    padding-left: 4vw;
}

.texto h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 7vw;
}

.texto h4 {
    margin-top: -5vw;
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
    font-weight: 500;
    margin-left: 3vw;
}

#filter {
    margin-right: 2vw;
    border-radius: 3vw;
    width: 25vw;
    padding: 0.5vw;
    font-size: 5vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #008A93;
}

#option {
    font-size: 8vw;
}

.navbar {
    position: fixed;
    bottom: 20px;
    width: 98%;
    background-color: #ffffff;
    display: flex;
    border-radius: 5vw;
    justify-content: space-around;
    padding: 10px 0;
    left: 3.5px;
    right: 1px;
    border: solid 1px #D3DFE7;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.navbar a.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: #015157;
    ;
    font-size: 3vw;
    font-weight: bold;
}

.navbar .active img {
    width: 7vw;
}

.boxgodgod{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vw
}

.box{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #00404A;
    background-image: url(img/group.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 2vw;
    width: 90vw;
    height: 25vw;
}

.contentetxt{
    margin-left: 5vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    color: #FFF;
    gap: 2vw;
}

.contentetxt h3, h2, h6, h4{
    font-weight: 500;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1vw;
}

.rowmage{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.rowmage img{
    width: 5vw;
    height: 5vw;
    margin: 0;
}

.btnsCupon {
    margin-top: -3vw;
    display: grid;
    width: 100%;
    background-color: #E9F6FF;
    border-radius: 6vw 6vw 0vw 0vw;
}

.btnsAjusteCupon {
    width: 100%;
    display: flex;
    margin: 4vw 0vw 0vw 0vw;
    justify-content: space-around;
    gap: 10vw;
}

.QtCupon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #00404A;
    border: .1vw solid #00404A;
    border-radius: .5vw;
    font-weight: 600;
    width: 45%;
    font-size: 4.5vw;
    gap: 2vw;
    height: 10vw;
    border-radius: 2.5vw;
}

#btnfiltroCupon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #008A93;
    border-radius: .5vw;
    width: 30%;
    font-size: 4.5vw;
    font-weight: 600;
    gap: 2vw;
    border-radius: 2.5vw;
    height: 10vw;
}

#btnfiltroCupon img {
    width: 6vw;
}

.btnsCupon hr {
    width: 95%;
    display: flex;
    margin: 4vw 0vw 6vw 0vw;
}

/*Modal*/

#modalBk {
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 102vh;
    align-content: end;
    flex-wrap: wrap;
    backdrop-filter: brightness(0.5);
}

.modal {
    width: 100%;
    height: 42%;
    background-color: #fff;
    border-radius: 8vw 8vw 0vw 0vw;
    display: grid;
    justify-content: center;
}

.ajusteModal {
    width: 90vw;
    height: 62vw;
}

.ajusteModal h1 {
    font-size: 7vw;
}

.ajusteModal h3 {
    font-size: 5vw;
    color: #454545;
    margin-bottom: 3vw;
}

.modal p {
    color: #454545;
    font-weight: 600;
    font-size: 1.9vh;
    margin: 0;
}

.dt-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input#dtVen {
    font-size: 5.5vw;
    font-weight: 700;
    border: .5vw solid #000;
    border-radius: 1.5vw;
    padding: 1vw;
}

.Radios {
    background-color: #00404A;
    color: #ffffff;
    height: 10vw;
    font-weight: 600;
    width: 18vh;
    border-radius: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Radios span {
    font-size: 1.8vh;
    text-align: center;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 2vw;
    width: 97vw;
    transform: translate(-4%, 0%);
}

.inputR {
    display: none;
}


.btns {
    display: flex;
    width: 100%;
    gap: 8vw;
    justify-content: center;
    margin-top: 8vw;
}

#btnL {
    border: .3vw solid #00404A;
    color: #00404A;
    height: 10vw;
    font-weight: 600;
    font-size: 4.5vw;
    width: 18vh;
    border-radius: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnF {
    border: .3vw solid #00404A;
    background-color: #00404A;
    color: #ffffff;
    height: 10vw;
    font-weight: 600;
    font-size: 4.5vw;
    width: 18vh;
    border-radius: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-scroll {
    overflow: hidden;
}