<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/ClubeEntrar/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/banhista/ClubeEntrar/assets/style.css">
    <script src="/banhista/ClubeEntrar/assets/script.js"></script>
    <title>Entrar em um clube</title>
</head>
<body>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/banhista/padrao/img/voltar.svg" id="voltar"></a>
    </header>

    <img src="/banhista/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio"><img src="/banhista/padrao/img/inicio.svg" >Início</a>
            <a href="/suasReservas" class="active" id="NavReserva"> <img src="/banhista/padrao/img/reservas.svg" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/banhista/padrao/img/sacola.svg" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/padrao/img/perfil.svg" alt="">Perfil</a>
        </nav>
    </div>

    <div class="perfil">

        <div class="img-barraca">
            <img src="/uploads/Carrinho(1).webp" alt="">
        </div>

        <div class="info-barraca">
            <div class="nome-barraca">
                <p class="titulo">Clube Marina</p>
                <p class="data">Criado em: 19/02/2023</p>
            </div>
            <div class="membros">
                <p class="quantidade">64</p>
                <p class="membros-text">membros</p>
            </div>
        </div>

        <div class="btn">
            <div class="btn-participar">
                <p class="titu-btn">Participar</p>
                <p class="preco"> R$ 7,99</p>
            </div>
        </div>
        
        <div class="caixa">
            <div class="caixa-beneficios">
                <p class="titulo-beneficios">Benefícios</p>
                <div class="lista">
                    <ul class="vantagens">
                        <li>Ganho de pontos </li>
                        <li>Troca de pontos por produtos</li>
                        <li>Itens exclusivos na barraca</li>
                        <li>Tolerância aumentada</li>
                        <li>Descontos exclusivos</li>
                        <li>Avisos antecipados</li>
                    </ul>
                </div>
                <p class="subtitulo-beneficios">Diferencial</p>
                <div class="diferencial">
                    <p class="texto-diferencial">Aqui você terá promoções exclusivas, além de poder usar nossa prancha particular</p>
                    <img src="/banhista/ClubeEntrar/assets/img/castelo.png" class="castelo">
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>