@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #E9F6FF;
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
}

.logo {
    position: absolute;
    z-index: 2;
    width: 25vw;
    left: 50%;
    top: 5vw;
    transform: translate(-50%);
}

.navbar {
    position: fixed;
    z-index: 4;
    bottom: 3vw;
    width: 98%;
    background-color: #ffffff;
    display: flex;
    border-radius: 5vw;
    justify-content: space-around;
    padding: 2vw 0;
    left: 1vw;
    border: solid 1px #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }
  
.navbar a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 4vw;
}

.navbar .active img{
    width: 7vw;
}

#NavInicio {
  color: #008B92;  
}

.navSup{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 28%;
}

.texto{
    padding-left: 2vw;
}

.texto h1{
    font-family: "Montserrat", sans-serif;
    font-size: 7.5vw;
}

.texto h4{
    margin-top: -6%;
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    padding-left: 2vw;
}

.caixa{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background-color: #E9F6FF;
    border-radius: 10vw;
    min-height: 30vw;
}

.container-cardapio {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vw;
    gap: 1vw;
}

.caixa-comida {
    width: calc(33.33% - 2vw);
    box-sizing: border-box;
    border-radius: 2vw;
    border: 1px solid rgb(204, 204, 204, 0.4);
    background-color: #ffffff;
    padding: 2vw;
    text-align: center;
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.6vw;
}

.caixa-comida h1{
    margin: 0;
}

.caixa-comida img {
    width: 29vw;
    height: 22vw;
    border-radius: 1vw;
    object-fit: cover;
}

.qtd-pontos{
    font-size: 4.3vw;
    color: #00404A;
}

.nome-comida{
    font-size: 4vw;
}

.pontos {
    font-size: 3.8vw;
    margin: 0;
    font-weight: 500;
}

.valor{
    margin: 0;
    font-size: 2.1vw;
    font-weight: 600;
}

.btn-edit{
    width: 90%;
    display: flex;
    justify-content: end;
    
}

.btn-edit button{
    padding: 3vw;
    background-color: #00404A;
    border: none;
    border-radius: 1.2vw;
    color: #ffffff;
    font-weight: 500;
    position: absolute;
    bottom: 23vw;
    right: 5vw;
    font-size: 4.5vw;
}