a {
    text-decoration: none;
    color: black;
}

#NavInicio {
    color: #008B92;  
}

.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ntf {
    position: absolute;
    z-index: 2;
    right: 5%;
    top: 2vw;
}

.ntf img {
    position: absolute;
    z-index: 2;
    right: 5%;
    top: 2vw;
    width: 10vw;
}

.ntf h2 {
    width: 5vw;
    height: 5vw;
    background-color: #0A9396;
    text-align: center;
    border-radius: 8vw;
    font-size: 4vw;
    position: relative;
    z-index: 2;
    top: -2.5vw;
    right: -0.7vw;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fundoBanner  {
    width: 92%;
    display: flex;
    border-radius: 3vw;
    background-image: url(img/fundoBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    margin-top: 40vw;
}

.fundoBanner h1{
    font-size: 4.6vw;
    color: #ffffff;
    margin: 0 0 2vw 0;
}

.fundoBanner h2 {
    font-size: 3.5vw;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}

.fundoBanner img {
    width: 30vw;
    height: 38vw;
}

#btnVerPlanos{
    width: 30vw;
    height: 7vw;
    background-color: #ffffff;
    color: #00404A;
    border: none;
    border-radius: 2vw;
    font-size: 4vw;
    font-weight: 600;
}

.carrinhos {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    position: relative;
}

.base {
    width: 95%;
    background-color: rgba(10, 147, 150, 0.3);
    border-radius: 5vw;
    height: 33vw;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    transition: transform 0.5s ease;
    margin: 0 8vw 0 9vw;
}

.setaD img, .setaE img {
    width: 8vw;
}

.setaE, .setaD {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.setaE {
    left: 0vw;
}

.setaD {
    right: 0vw;
}

.cardAdd, .cardCarrinho {
    width: 25vw;
    height: 30vw;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vw;
    flex-direction: column;
    gap: 3vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.6vw 2vw 0.2vw;
}

.cardAdd h1, .cardCarrinho h1 {
    width: 95%;
    font-size: 3.5vw;
    text-align: center;
    margin: 0;
}

.cardAdd img {
    width: 12vw;
}

.cardCarrinho img {
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    object-fit: cover;
}


.RelUp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;   
}

.RelUp h1 {
    margin: 0;
    font-size: 6vw;
}

.RelUp h3 {
    margin: 0;
    font-size: 3.8vw;
    counter-reset: rgba(0, 0, 0, 0.475);
    font-weight: 500;
}

#filtro {
    border: none;
    width: 31vw;
    height: 8vw;
    border-radius: 5vw;
    font-size: 5vw;
    outline: none;
    background-color: #0A9396;
    color: #ffffff;
    text-align: center;
}

.relatorio {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #EAF6FF;
    border-radius: 4vw;
    width: 98%;
    margin: 5vw 1vw 0 1vw;
}

.RelDown {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    margin: 3vw 0 4vw 0;
}

.btnsRel {
    border: none;
    width: 22vw;
    height: 8vw;
    border-radius: 5vw;
    font-size: 4vw;
    outline: none;
    background-color: #00404A;
    color: #ffffff;
    text-align: center;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
}

.CardP1 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 20vw;
}

.baseP1 {
    width: 95%;
    height: 35vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

.baseP1 p {
    width: 95%;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 4vw;
}

.pontos {
    width: 20vw;
}

.DownT {
    display: flex;
    align-items: center;
    gap: 4vw;
    justify-content: end;
    width: 95%;
    position: absolute;
    bottom: 2vw;
    right: 6vw;
}

.imgSeta {
    width: 6vw;
}

.imgCoquinhoP1 {
    position: absolute;
    left: 1vw;
    top: -17vw;
    width: 30vw;
}

#btnTutorial {
    width: 50vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#Passo2 {
    display: none;
}

.baseP2 {
    width: 95%;
    height: 45vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

.baseP2 p {
    width: 95%;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 2vw;
}

#Passo3 {
    display: none;
}

.baseP2 img {
    top: -19vw;
}

.baseP3 {
    width: 95%;
    height: 40vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

.baseP3 p {
    width: 95%;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 3vw;
}

#Passo4 {
    display: none;
}

.CardP4 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    top: 80vw;
}

/* BIANCA */

.blur-carrinho {
    position: absolute;
    width: 31vw;
    height: 18vh;
    border-radius: 2vw;
    top: 50.5%;
    left: 22%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: none;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}
/* ESSE É O CONTAINER DA BARRACA FICTÍCIA*/
carrinho {
    position: absolute;
    top: 43%;
    left: 10%;
    z-index: 88;
}




.notificacao {
    position: fixed;
    top: 0;
    width: 90vw;
    left: 4vw;
    padding: 1vw;
    background-color: #ffffff;
    font-size: 4vw;
    text-align: center;
    margin-top: 1vw;
    border-radius: 2vw;
    box-shadow: 0vw 0.4vw 0.6vw rgba(0, 0, 0, 0.1);
    opacity: 1;
    transform: translateY(-2vw);
    animation: slideIn 0.5s forwards ease;
    transition: opacity 0.5s, transform 0.5s;
    z-index: 5;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-2vw);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



