<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/carrinho/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/banhista/carrinho/assets/style.css">
    <link rel="stylesheet" href="/banhista/padrao/style.css">
    <script type="text/javascript" src="/banhista/carrinho/assets/script.js" defer></script>
    <title>Carrinho</title>
</head>

<body>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/banhista/padrao/img/voltar.svg" id="voltar"></a>
    </header>

    <img src="/banhista/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio" style="color: black"><img
                    src="/banhista/padrao/img/inicio.png">Inicio</a>
            <a href="/suasReservas" class="active" id="NavReserva"> <img src="/banhista/cardapio/assets/img/Reserva.png"
                    alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/banhista/cardapio/assets/img/Pedido.png"
                    alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/cardapio/assets/img/Perfil.png"
                    alt="">Perfil</a>
        </nav>
    </div>

    <div class="container">
        <div class="texto">
            <h1>Guarda-Sol</h1>
            <h4>Alugue um kit de cadeiras</h4>
        </div>
        <button id="filter">Filtrar</button>
    </div>


    <div class="caixaP">

            <a href="/reserva" >
                <div class="caixa">
                    <div class="img">
                        <img src="/uploads/Carrinho(1).webp" alt="Carrinho">
                    </div>
                    <div class="escrita">
                        <h2 style="font-size: 5vw; margin-top: 5.5vw;">
                            Flor do Verão
                        </h2>
                        <p style="font-size: 2.7vw;">
                            Perto do quisoque do zé
                        </p>
                        <div class="price">
                            <h6 style="margin-top: 7vw; font-weight: 2vw;">Por 4 cadeiras</h6>
                            <h3 style="font-size: 5vw;">R$ 45,00
                            </h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/reserva" >
                <div class="caixa">
                    <div class="img">
                        <img src="/uploads/Carrinho(1).webp" alt="Carrinho">
                    </div>
                    <div class="escrita">
                        <h2 style="font-size: 5vw; margin-top: 5.5vw;">
                            Flor do Verão
                        </h2>
                        <p style="font-size: 2.7vw;">
                            Perto do quisoque do zé
                        </p>
                        <div class="price">
                            <h6 style="margin-top: 7vw; font-weight: 2vw;">Por 4 cadeiras</h6>
                            <h3 style="font-size: 5vw;">R$ 45,00
                            </h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/reserva" >
                <div class="caixa">
                    <div class="img">
                        <img src="/uploads/Carrinho(1).webp" alt="Carrinho">
                    </div>
                    <div class="escrita">
                        <h2 style="font-size: 5vw; margin-top: 5.5vw;">
                            Flor do Verão
                        </h2>
                        <p style="font-size: 2.7vw;">
                            Perto do quisoque do zé
                        </p>
                        <div class="price">
                            <h6 style="margin-top: 7vw; font-weight: 2vw;">Por 4 cadeiras</h6>
                            <h3 style="font-size: 5vw;">R$ 45,00
                            </h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/reserva" >
                <div class="caixa">
                    <div class="img">
                        <img src="/uploads/Carrinho(1).webp" alt="Carrinho">
                    </div>
                    <div class="escrita">
                        <h2 style="font-size: 5vw; margin-top: 5.5vw;">
                            Flor do Verão
                        </h2>
                        <p style="font-size: 2.7vw;">
                            Perto do quisoque do zé
                        </p>
                        <div class="price">
                            <h6 style="margin-top: 7vw; font-weight: 2vw;">Por 4 cadeiras</h6>
                            <h3 style="font-size: 5vw;">R$ 45,00
                            </h3>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/reserva" >
                <div class="caixa">
                    <div class="img">
                        <img src="/uploads/Carrinho(1).webp" alt="Carrinho">
                    </div>
                    <div class="escrita">
                        <h2 style="font-size: 5vw; margin-top: 5.5vw;">
                            Flor do Verão
                        </h2>
                        <p style="font-size: 2.7vw;">
                            Perto do quisoque do zé
                        </p>
                        <div class="price">
                            <h6 style="margin-top: 7vw; font-weight: 2vw;">Por 4 cadeiras</h6>
                            <h3 style="font-size: 5vw;">R$ 45,00
                            </h3>
                        </div>
                    </div>
                </div>
            </a>
    </div>

    <section id="modalBk" class="no-scroll ">
        <div class="modal">
            <div class="ajusteModal">
                <h1>Filtrar por</h1>

                <h3>Valor</h3>

                <div class="justifyValues">
                    <p>10</p>
                    <input type="text" id="display" value="0" readonly>
                    <p>250</p>
                </div>
                <div class="Pontos">
                    <div class="ponto"></div>
                    <div class="ponto"></div>
                </div>

                <div class="range-container">

                    <input type="range" id="myRange" name="vol" value="10" min="10" max="250"
                        oninput="display.value=value" onchange="display.value=value">

                </div>

                <h3>Local</h3>

                <div class="radio">
                    <label class="Radios">
                        <input type="radio" name="local" class="inputR" value="sv">
                        <span class="btnR">São Vicente</span>
                    </label>
                    <label class="Radios">
                        <input type="radio" name="local" class="inputR" value="pg">
                        <span class="btnR">Praia Grande</span>
                    </label>
                    <label class="Radios">
                        <input type="radio" name="local" class="inputR" value="santos">
                        <span class="btnR">Santos</span>
                    </label>
                </div>
                <div class="radio">
                    <label class="Radios">
                        <input type="radio" name="local" class="inputR" value="guaruja">
                        <span class="btnR">Guarujá</span>
                    </label>
                    <label class="Radios">
                        <input type="radio" name="local" class="inputR" value="itanhaem">
                        <span class="btnR">Itanhaém</span>
                    </label>
                </div>

                <div class="btns">

                    <div id="btnL">Limpar Filtros</div>
                    <div id="btnF">Aplicar filtros</div>

                </div>
            </div>
    </section>


<footer style="padding: 10vw;"></footer>

</body>

</html>