<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/historico/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/banhista/historico/assets/style.css">
    <script src="/banhista/historico/assets/script.js" defer></script>
    <title>historico</title>
</head>
<body>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/banhista/padrao/img/voltar.svg" id="voltar"></a>
    </header>

    <img src="/banhista/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio"><img src="/banhista/cardapio/assets/img/HomeClick.png" >Inicio</a>
            <a href="/suasReservas" class="active" id="NavReserva"> <img src="/banhista/cardapio/assets/img/Reserva.png" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/banhista/cardapio/assets/img/Pedido.png" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/cardapio/assets/img/Perfil.png" alt="">Perfil</a>
        </nav>
    </div>
    
    <div class="container">
        <div class="texto">
            <h1>Histórico</h1>
            <h4>Seu histórico de Pedidos</h4>
        </div>
    </div>

    <div class="caixa">
        <div class="filtros">
            <div class="barra">
                <input type="search" placeholder="Buscar" id="barra"> 
                <img src="/banhista/historico/assets/img/lupa.png" alt="" id="lupa">
            </div>
            <div>
                <button class="filtro" id="filtro">Filtrar <img src="/banhista/historico/assets/img/filtro.png" alt=""></button>
            </div>
        </div>
    
        <!-- Recibo 1 -->
        <div id="recibo-1" class="recibo" onclick="toggleRecibo(1)">
            <div class="titulo-recibo">
                <p class="nome-barraca">Barraca Flor do Mar</p>
                <p class="data-recibo">07/12/2024</p>
            </div>
            <div class="detalhes-recibo">
                <div class="subTotal">
                    <div class="detalhes">
                        <p>SubTotal</p>
                        <p>R$163,50</p>
                    </div>
                </div>
                <div class="total">
                    <div class="detalhess">
                        <p>Total</p>
                        <p>R$163,50</p>
                    </div>
                </div>
                <div class="forma-pagamento">
                    <div class="detalhess">
                        <p>Forma de Pagamento</p>
                        <p>Cartão Débito</p>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Recibo 1 Aberto -->
        <div id="recibo-aberto-1" class="recibo-aberto" style="display: none;" onclick="toggleRecibo(1)">
            <div class="titulo-recibo">
                <p class="nome-barraca">Barraca Flor do Mar</p>
                <p class="data-recibo">07/12/2024</p>
            </div>
            <div class="detalhes-recibo">
                <div class="lista-itens">
                    <div class="itens">
                        <p class="item">Pastel de carne x3</p>
                        <p class="preco">R$ 15,00</p>
                    </div>
                    <div class="itens">
                        <p class="item">Isca de Frango 1x</p>
                        <p class="preco">R$ 60,00</p>
                    </div>
                    <div class="itens">
                        <p class="item">Coca-Cola x3</p>
                        <p class="preco">R$ 18,00</p>
                    </div>
                    <div class="itens">
                        <p class="item">Suco de maracuja 1x</p>
                        <p class="preco">R$ 12,50</p>
                    </div>
                    <div class="itens">
                        <p class="item">Picole 5x</p>
                        <p class="preco">R$ 5,00</p>
                    </div>
                </div>
                <div class="total">
                    <div class="detalhess">
                        <p>Total</p>
                        <p>R$163,50</p>
                    </div>
                </div>
                <div class="forma-pagamento">
                    <div class="detalhess">
                        <p>Forma de Pagamento</p>
                        <p>Cartão Débito</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    <section id="modalBk" class="no-scroll">
        <div class="modal">
            <div class="ajusteModal">
                <h1>Filtrar por</h1>
                <h3>Data</h3>
                <div class="dt-container">
                    <input type="date" name="data" id="dt">
                </div>
    
                <h3>Forma de pagamento</h3>
                <div class="radio">
                    <label class="Radios">
                        <input type="radio" name="pag" class="inputR" value="din">
                        <span class="btnR">Dinheiro</span>
                    </label>
                    <label class="Radios">
                        <input type="radio" name="pag" class="inputR" value="car">
                        <span class="btnR">Cartão</span>
                    </label>
                    <label class="Radios">
                        <input type="radio" name="pag" class="inputR" value="pix">
                        <span class="btnR">Pix</span>
                    </label>
                </div>
    
                <h3>Valor gasto</h3>
                <div class="justifyValues">
                    <p>R$10</p>
                    <input type="text" id="display" value="0" readonly>
                    <p>R$250</p>
                </div>
                <div class="Pontos">
                    <div class="ponto"></div>
                    <div class="ponto"></div>
                </div>
    
                <div class="range-container">
                    <input type="range" id="myRange" name="vlg" value="10" min="10" max="250" oninput="display.value=value" onchange="display.value=value">
                </div>
    
                <div class="btns">
                    <div id="btnL">Limpar Filtros</div>
                    <div id="btnF">Aplicar filtros</div>
                </div>
            </div>
        </div>
    </section>    
</body> 
</html>
