<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/notificacao/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/banhista/notificacao/assets/style.css">
    <title>Notificações</title>
</head>
<body>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/banhista/padrao/img/voltar.svg" id="voltar"></a>
    </header>

    <img src="/banhista/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio"><img src="/banhista/padrao/img/inicio.svg" >Início</a>
            <a href="/suasReservas" class="active" id="NavReserva"> <img src="/banhista/padrao/img/reservas.svg" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/banhista/padrao/img/sacola.svg" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/padrao/img/perfil.svg" alt="">Perfil</a>
        </nav>
    </div>
    
    <div class="caixa">
        <div class="fundo">
        <div class="titulo"><p>Suas Notificações</p></div>

        <div class="notificacoes">
            <div class="qtd_notificacao">
                Notificações (3)
            </div>
            <button class="ler-tudo">
                Ler Tudo
            </button>
        </div>

            <div class="containers">
                <div class="container">
                    <div class="img">
                        <img src="/banhista/notificacao/assets/img/pedido-feito.png" width="36vw" alt="">
                    </div>
                    <div class="d">
                        <p class="titulo-principal">Novo Pedido Feito</p>
                        <p class="titulo-secundario">Seu pedido foi efetuado, em breve você vai recebe-lo, fique de olho nas suas notificações</p>
                    </div>
                </div>
            </div>

            <div class="containers">
                <div class="container">
                    <div class="img">
                        <img src="/banhista/notificacao/assets/img/cupom-novo.png" width="36vw" alt="">
                    </div>
                    <div class="d">
                        <p class="titulo-principal">Novo Cupom</p>
                        <p class="titulo-secundario">Um novo cupom foi adicionado na sua aba de cupons, confira as condições do cupom antes de usa-lo</p>
                    </div>
                </div>
            </div>

            <div class="containers">
                <div class="container">
                    <div class="img">
                        <img src="/banhista/notificacao/assets/img/cupom-novo.png" width="36vw" alt="">
                    </div>
                    <div class="d">
                        <p class="titulo-principal">Novo Cupom</p>
                        <p class="titulo-secundario">Um novo cupom foi adicionado na sua aba de cupons, confira as condições do cupom antes de usa-lo</p>
                    </div>
                </div>
            </div>

        <!--CUPONS COM OS NOVOS TEXTOS E IMAGENS, ATUALIZAR O TEXTO QUE ELES RECEBEM NO BANCO DE DADOS -->

        <!-- <div class="containers">
            <div class="container">
                <div class="img">
                    <img src="/banhista/notificacao/assets/img/reserva-feita.png" width="36vw" alt="">
                </div>
                <div class="d">
                    <p class="titulo-principal">Nova Reserva Feita</p>
                    <p class="titulo-secundario">Uma nova reserva foi feita, você pode vê-la na sua aba de reservas, caso necessário cancelar faça isso com pelo menos 2 horas de antecedencia</p>
                </div>
            </div>
        </div>
        <div class="containers">
            <div class="container">
                <div class="img">
                    <img src="/banhista/notificacao/assets/img/pontos.png" width="36vw" alt="">
                </div>
                <div class="d">
                    <p class="titulo-principal">Novos Pontos</p>
                    <p class="titulo-secundario">Você recebeu novos pontos no Clube do Roberto, troque por recompensar. Veja todas as recompensas livres no cardapio do Clube</p>
                </div>
            </div>
        </div>
        <div class="containers">
            <div class="container">
                <div class="img">
                    <img src="/banhista/notificacao/assets/img/cancel.png" width="36vw" alt="">
                </div>
                <div class="d">
                    <p class="titulo-principal">Reserva cancelada</p>
                    <p class="titulo-secundario">Sua reserva foi cancelada com sucesso, para que você não perca seu dinheiro, um cupom de desconto sera adicionado na sua aba cupons em breve</p>
                </div>
            </div>
        </div>
        <div class="containers">
            <div class="container">
                <div class="img">
                    <img src="/banhista/notificacao/assets/img/pedido-cancel.png" width="36vw" alt="">
                </div>
                <div class="d">
                    <p class="titulo-principal">Pedido Cancelado</p>
                    <p class="titulo-secundario">Seu pedido foi cancelado, sentimos muito por isso. Clique em saber mais para ver o motivo pelo qual seu pedido foi cancelado</p>
                </div>
            </div>
        </div>
        <div class="containers">
            <div class="container">
                <div class="img">
                    <img src="/banhista/notificacao/assets/img/pedido-pronto.png" width="36vw" alt="">
                </div>
                <div class="d">
                    <p class="titulo-principal">Pedido Pronto</p>
                    <p class="titulo-secundario">Seu pedido foi marcado como pronto, em breve você ira recebe-lo, não esqueça de pagar a sua sacola caso não vá consumir mais nada</p>
                </div>
            </div>
        </div> -->
    </div>
    </div>
</body>
</html>