@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: url(./img/back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #E8B05B;
}

.logo {
    position: absolute;
    z-index: 2;
    width: 25vw;
    left: 50%;
    top: 5vw;
    transform: translate(-50%);
}

.navbar {
    position: fixed;
    z-index: 4;
    bottom: 3vw;
    width: 98%;
    background-color: #ffffff;
    display: flex;
    border-radius: 5vw;
    justify-content: space-around;
    padding: 2vw 0;
    left: 1vw;
    border: solid 1px #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.navbar a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 4vw;
}


.navbar .active img {
    width: 7vw;
}



a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#voltar {
    position: absolute;
    z-index: 2;
    left: 2%;
    top: 0;
    width: 10vw;
    margin: 2vw;
}

.caixa {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 25vw;
    gap: 2vw;
}

.imageCarrinho {
    width: 25vw;
    border-radius: 50%;
}

.texto {
    display: grid;
    flex-direction: column;
    gap: 1.5vw;
}

.h3 {
    color: #00404A;
    margin: 0vw;
    font-size: 5.8vw;

}

.h5 {
    margin: 0vw;
    color: #ffffff;
    font-size: 3vw;
}

.buttons {
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.btn {
    text-align: center;
    background-color: #008B92;
    color: #ffffff;
    width: 37vw;
    font-weight: 600;
    height: 8vw;
    border: none;
    font-size: 4.5vw;
    border-radius: 5vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.circulo {
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.ajuste {
    display: flex;
    justify-content: center;
    align-items: center;

}

.caixa2 {
    display: flex;
    background-color: #fff;
    width: 90vw;
    height: 9vw;
    margin-top: 4.5vw;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 8px;
}

.h4 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 4vw;
    color: #00404A;
    font-size: 4vw;

}

.h4 strong {
    font-size: 4.5vw;
    margin-left: 4.5vw;
    color: #008B92;
}

.h4 img {
    margin-left: 1vw;
}

.btncarrinho {
    display: flex;
    justify-content: space-around;
    margin-top: 7vw;
    gap: 45vw;
    align-items: center;
}

.filtro {

    background-color: #00404A;
    color: #FFF;
    border-radius: 5vw;
    border: none;
    font-size: 5vw;
    font-weight: 600;
    width: 25vw;
    height: 8vw;
}

.car {
    background-color: #00404A;
    color: #FFF;
    border-radius: 50%;
    border: none;
    width: 11vw;
    height: 11vw;
}

.car img {
    display: flex;
    align-items: center;
    width: 7vw;
}

/* Divisão */

.queijo {
    width: 37vw;
    border-top-right-radius: 2vw;
    border-top-left-radius: 2vw;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 37vw;
    height: 62vw;
    border-radius: 2vw;
    transform: translate(15%);
    margin-bottom: 8vw;
}

.alimentos {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-top: 7vw;
}

.coracao {
    display: flex;
    width: 8.5vw;
    height: 7.5vw;
    border-top-right-radius: 2vw;
    border-bottom-left-radius: 2.1vw;
    background-color: #FFF;
    margin-top: -27vw;
    margin-left: 28.5vw;
    position: relative;
    justify-items: center;
    align-items: center;
    box-shadow: rgba(85, 85, 94, 0.2) 0px 7px 29px 0px;

}

.chk {
    display: none;
}

.coracao label {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.coracao img {
    display: flex;
    width: 6vw;
    height: 6vw;
    top: 0;
    left: 1vw;
    position: relative;
}


.txt {
    padding: 1vw;
    margin-top: 18vw;
}

.txt h3 {
    font-size: 3.8vw;
}

.txt h4 {
    margin-top: -2vw;
    text-align: start;
    font-size: 2.5vw;
    font-weight: 500;
}

.pontseta {
    height: 6vw;
    margin-top: -2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6vw;
    align-items: center;
}

.pontseta strong {
    color: #00404A;
}

.seta {
    margin: -1vw;
    padding: 1;
    width: 5vw;
}

/*MOdal*/

#modalBk {
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 102vh;
    align-content: end;
    flex-wrap: wrap;
    backdrop-filter: brightness(0.5);
}

.modal {
    width: 100%;
    height: 42%;
    background-color: #fff;
    border-radius: 8vw 8vw 0vw 0vw;
    display: grid;
    justify-content: center;
}

.ajusteModal {
    width: 90vw;
    height: 62vw;
}

.ajusteModal h1 {
    font-size: 7vw;
}

.ajusteModal h3 {
    font-size: 5vw;
    color: #454545;
}

.modal p {
    color: #454545;
    font-weight: 600;
    font-size: 1.9vh;
    margin: 0;
}

.check{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.checklbl{
    align-items: center;
    justify-content: center;
    gap: 2vw;
    background-color: #00404A;
    color: #fff;
    width: 24vw;
    font-size: 4vw;
    padding: 2vw;
    border-radius: 2vw;
    font-weight: 500;
}

.Radios {
    background-color: #00404A;
    color: #ffffff;
    height: 10vw;
    font-weight: 600;
    width: 12vh;
    border-radius: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Radios span {
    font-size: 1.5vh;
    text-align: center;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    margin-bottom: 2vw;
    width: 97vw;
    transform: translate(-4%, 0%);
}

.inputR {
    display: none;
}


.btns {
    display: flex;
    width: 100%;
    gap: 8vw;
    justify-content: center;
    margin-top: 8vw;
}

#btnL {
    border: .3vw solid #00404A;
    color: #00404A;
    height: 10vw;
    font-weight: 600;
    font-size: 4.5vw;
    width: 18vh;
    border-radius: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnF {
    border: .3vw solid #00404A;
    background-color: #00404A;
    color: #ffffff;
    height: 10vw;
    font-weight: 600;
    font-size: 4.5vw;
    width: 18vh;
    border-radius: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-scroll {
    overflow: hidden;
}