<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seus Clubes</title>
    <link rel="shortcut icon" type="imagex/png" href="/banhista/SeusClubes/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/ambulante/padrao/style.css">
    <link rel="stylesheet" href="/banhista/SeusClubes/assets/style.css">
</head>
<body>
    <img src="/banhista/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio"><img src="/banhista/padrao/img/inicio.svg" >Início</a>
            <a href="/suasReservas" class="active" id="NavReserva"> <img src="/banhista/padrao/img/reservas.svg" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/banhista/padrao/img/sacola.svg" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/padrao/img/perfil.svg" alt="">Perfil</a>
        </nav>
    </div>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/ambulante/padrao/img/voltar.png" id="voltar"></a>
    </header>

    <div class="container">
        <div class="texto">
            <h1>Seus Clubes</h1>
        </div>
    </div>

    <div class="caixa">
        <div class="container-clubes">
            <div class="clube">
                <div class="foto-barraca">
                    <img src="/banhista/seusclubes/assets/img/foto-clube.png" alt="" width="80vw">
                </div>
                <div class="barraca-info">
                    <div class="titulos">
                        <h1 class="titulo-barraca">Barraca do Roberto</h1>
                        <div class="data">
                            <h4>Entrou em: </h4>
                            <h4>15/05/2024</h4> 
                        </div>     
                    </div>
                    <div class="ver">
                        <h4>Membros:  87</h4>
                        <button>Ver Sobre</button>
                    </div>
                </div>
                <div class="pontos">
                    <p>785</p>  
                    <p>Pontos</p>
                </div>
            </div>
            <div class="clube">
                <div class="foto-barraca">
                    <img src="/banhista/seusclubes/assets/img/coroa.png" alt="" width="80vw">
                </div>
                <div class="barraca-info">
                    <div class="titulos">
                        <h1 class="titulo-barraca">Barraca do Roberto</h1>
                        <div class="data">
                            <h4>Entrou em: </h4>
                            <h4>15/05/2024</h4> 
                        </div>     
                    </div>
                    <div class="ver">
                        <h4>Membros:  87</h4>
                        <button>Ver Sobre</button>
                    </div>
                </div>
                <div class="pontos">
                    <p>785</p>  
                    <p>Pontos</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>