<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/ambulante/AddClube/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/ambulante/padrao/style.css">
    <link rel="stylesheet" href="/ambulante/AddClube/assets/style.css">
    <script src="/ambulante/AddClube/assets/script.js" defer></script>
    <title>Adicionar Clube</title>
</head>
<body>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/ambulante/padrao/img/voltar.png" id="voltar"></a>
    </header>

    <img src="/ambulante/padrao/img/logo.svg" class="logo">


    <div class="corpo">
        <nav class="navbar">
            <a href="/inicialB" class="active" id="NavInicio"><img src="/ambulante/padrao/img/inicio.png" >Inicio</a>
            <a href="/dados" class="active" id="NavReserva"> <img src="/ambulante/padrao/img/dados.png" alt="">Dados</a>
            <a href="/CluberJSON/ClubeB" class="active" id="NavPedido" style="color: #EE9B00;"> <img src="/ambulante/padrao/img/coroa-colorido.png" alt="">Clube</a>
            <a href="/comanda" class="active" id="NavPerfil"> <img src="/ambulante/padrao/img/comanda.png" alt="">Comanda</a>
            <a href="/perfilB" class="active" id="NavPerfil"> <img src="/ambulante/padrao/img/perfil.png" alt="">Perfil</a>
        </nav>
    </div>

    <section>
        <container class="geral">
            <input type="file" id="imgClube" required="required" style="display: none;">
            <label for="imgClube" class="AddImg" id="labelImgClube">
                <div class="Add" id="labelContent">
                    <img src="/ambulante/AddCarrinho/assets/img/AddImg.png" id="defaultImg">
                    <h2>ADICIONE ATÉ 5 FOTOS</h2>
                </div>
                <h3 id="verifique">*Verifique as fotos antes de enviar</h3>
            </label>

            <form method="post" id="Form-AddClube">
                <div>
                    <label>Nome do clube</label>
                    <input 
                        type="text" 
                        id="nmClube" 
                        class="inpts" 
                        placeholder="Nome do clube"
                        required="required"
                    >
                </div>
                
                <div>
                    <h2>Carrinho Pertencente <img src="/ambulante/AddCarrinho/assets/img/Duvida.svg" style="width: 4.5vw; height: 4.5vw;" id="DuvidaVl"></h2>
                        <select class="inpts2" id="idCarrinho">
                            <% carrinhos.forEach(carrinho => { %>
                            <option value="<%= carrinho.cd_carrinho %>"><%= carrinho.nm_carrinho %></option>
                            <% }) %>
                        </select>
                </div>

                <div>
                    <label>Valor de entrada<img src="/ambulante/AddCarrinho/assets/img/Duvida.svg" style="width: 4.5vw; height: 4.5vw;" id="DuvidaVl"></label>
                    <div style="display: flex; align-items: center; width:  40vw;">
                        <h1 class="preco">R$</h1>
                        <input 
                        type="number" 
                        class="inpts2" style="padding-left: 9vw;" 
                        id="vlEntrada"
                        required="required"    
                    > 
                    </div>
                </div>

                <div>
                    <label>Outras vantagens <img src="/ambulante/AddCarrinho/assets/img/Duvida.svg" style="width: 4.5vw; height: 4.5vw;" id="DuvidaVl"></label>
                    <textarea placeholder="Escreva as outras vantagens do seu clube.." id="dsVantagens"></textarea>
                </div>

                <!-- <div >
                    <h2>Cardápio</h2>
                    <div id="btnAddCardapio"> Adicionar Cardapio +</div>
                </div> -->
                
                <div class="btn">
                    <button type="submit" id="btnAdd">Adicionar Clube</button>
                </div>
            </form>
        </container>
    </section>

    <section id="BodyModalConf">
        <div class="blur"></div>
        <div class="ModalConfi">
            <h1>Clube criado com sucesso!</h1>
            <img src="/ambulante/AddProduto/assets/img/verificado2.png">
        </div>
    </section>
</body>
</html>