<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/TrocarConta/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/ambulante/padrao/style.css">
    <link rel="stylesheet" href="/sac/denuncia/assets/style.css">
    <title>Denuncia</title>
</head>

<body>

    <img src="/ambulante/padrao/img/logo.svg" class="logo">
    
    <header class="navSup">
        <a onclick="window.history.back()"><img src="/ambulante/padrao/img/voltar.png" id="voltar"></a>
    </header>

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio" style="color: black;"><img src="/banhista/padrao/img/inicio.png" >Inicio</a>
            <a href="/suasReservas" class="active" id="NavReserva"> <img src="/banhista/cardapio/assets/img/Reserva.png" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido" style="color: #008B92;"> <img src="/banhista/padrao/img/sacola_colorida.png" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/cardapio/assets/img/Perfil.png" alt="">Perfil</a>
          </nav>
    </div>

    <div class="caixa">
        
        <div class="titulos">
            <div class="denu">
                <h1>Denuncia</h1>
                <img style="width: 5vw; height: 5vw;" src="/sac/denuncia/assets/img/duvida.png" alt="duvida">
            </div>
            <h5>Sentimos muito pelo seu problema, por favor nos relate o que esta acontecendo</h5>
        </div>

        <div>
            <form class="form" action="">

                <div class="inputs">
                    <label for="name" class="label">Nome completo</label>
                    <input type="name" class="input">
                </div>
                
                <div class="inputs">
                    <label for="email" class="label">E-mail</label>
                    <input type="email" name="" id="" class="input">
                </div>
                


                <div class="row">

                    <div class="inputs-data">
                        <label for="date" class="label">Data do ocorrido</label>
                        <input type="text" id="date" placeholder="             /              /" maxlength="10" />
                    </div>
                    
                    <div class="inputs">
                        <label for="" class="label">Motivo da denuncia</label>
                        <select name="" id="">
                            <option value="">Selecionar</option>
                            <option value="">Desrespeito</option>
                            <option value="">Má conduta</option>
                            <option value="">Preconceito</option>
                            <option value="">Assédio</option>
                            <option value="">Outro</option>
                        </select>
                    </div>
                    
                </div>

                <div class="inputs">
                    <label for="Nome" class="label">Nome do envolvido</label>
                    <input type="text" name="" id="" class="input">
                </div>
                

                <div class="inputs">
                    <label for="" class="label">Descreva o ocorrido</label>
                    <textarea name="" id="" placeholder="Relate de forma clara e detalhada o acontecimento"></textarea>
                </div>
                
                <div class="btn-enviar">
                    <button>Enviar</button>
                </div>
                
            </form>
            
        </div>
    </div>

    <script>
       
    document.getElementById('date').addEventListener('input', function (e) {
        let value = e.target.value.replace(/\D/g, ''); // Remove não-números
        if (value.length > 2) value = value.replace(/^(\d{2})(\d)/, '$1/$2');
        if (value.length > 5) value = value.replace(/^(\d{2})\/(\d{2})(\d)/, '$1/$2/$3');
        e.target.value = value.slice(0, 10); // Limita a 10 caracteres
    });

    </script>

</body>

</html>