<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sac/denuncia/assets/style.css">
    <title>Document</title>
</head>

<body>

    <div class="caixa">
        <div class="titulos">
            <div class="denu">
                <h1>Denuncia</h1>
                <img style="width: 5vw; height: 5vw;" src="/sac/denuncia/assets/img/duvida.png" alt="duvida">
            </div>
            <h5>sentimos muito pelo seu problema, por favor nos relate o que esta acontecendo</h5>
        </div>

        <div class="form">

            <label for="name" class="label">Nome completo</label>
            <input type="name" class="input">
        

            <label for="email" class="label">E-mail</label>
            <input type="email" name="" id="" class="input">


            <div class="row">
                <label for="date" class="label">Data do ocorrido</label>
                <input type="date" name="" id="">

                <label for="" class="label">Motivo da denuncia</label>
                <select name="" id="">
                    <option value="">motivo 1</option>
                    <option value="">motivo 2</option>
                    <option value="">motivo 3</option>
                    <option value="">motivo 4</option>
                </select>
            </div>

            <label for="Nome" class="label">Nome do envolvido</label>
            <input type="text" name="" id="" class="input">


            <label for="" class="label">Descreva o ocorrido</label>
            <textarea name="" id=""></textarea>


            <button>Enviar</button>
        </div>
    </div>


</body>

</html>