<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/perfilConfig/assets/img/iconWeb.svg">
    <title>Configurações do Perfil</title>
    <link rel="stylesheet" href="banhista/perfilConfig/assets/style.css">
    <script src="banhista/perfilConfig/assets/script.js"></script>
</head>

<body>
    <img src="banhista/perfilConfig/assets/img/logo.png" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio" style="color: black;"><img src="/banhista/padrao/img/inicio.png">Inicio</a>
            <a href="/suasReservas" class="active" id="NavReserva"> <img src="/banhista/cardapio/assets/img/Reserva.png" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/banhista/cardapio/assets/img/Pedido.png" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/padrao/img/perfil-colorido.png" alt="">Perfil</a>
        </nav>
    </div>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/ambulante/planos/assets/img/voltar.png" id="voltar"></a>
    </header>

    <div class="caixa">
        <div class="profile">
            <div class="img">
                <img src="/uploads/ImageDefault.jpg" width="113px" alt="">
            </div>
            <div class="minhas-infos">
                <p class="nome">Mateus Oliveira</p>
                <a href="/editar-dados" class="editar-dados">Editar meus dados <img src="banhista/perfilConfig/assets/img/seta-verde.png" alt=""></a>
            </div>
        </div>
        <div class="botoes">
            <div class="atalho">
                <div class="titulo-atalho">
                    <p>Configurações da Conta</p>
                </div>
                <div class="atalhos">
                    <div class="b">
                        <button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/cadeado.png" width="50px" alt="">Editar senha</button>
                        <button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/email.png" width="50px" alt="">Editar email</button>
                    </div>
                    <div class="b">
                        <button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/idioma.png" width="50px" alt="">Ver sobre idiomas</button>
                    </div>
                </div>
            </div>
            <div class="atalho">
                <div class="titulo-atalho">
                    <p>Contato e Avaliações</p>
                </div>
                <div class="atalhos">
                    <div class="b">
                        <a href="/problemas"><button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/sac.png" width="50px" alt="">Entrar em contato</button></a>
                        <button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/avaliacao.png" width="50px" alt="">Avaliar o app</button>
                    </div>
                    <div class="b">
                        <a href="/duvidas"><button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/faq.png" width="50px" alt="">Dúvidas frequentes</button></a>
                        <a href="/denuncia"><button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/denuncia.png" width="50px" alt="">Fazer denúncia</button></a>
                    </div>
                </div>
            </div>
            <div class="atalho">
                <div class="titulo-atalho">
                    <p>Termos e Privacidade</p>
                </div>
                <div class="atalhos">
                    <div class="b">
                        <a href="/termos"><button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/termos.png" width="50px" alt="">Termos de uso</button></a>
                        <a href="/Privacidade"><button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/privacidade.png" width="50px" alt="">Política de privacidade</button></a>
                    </div>
                    <div class="b">
                        <button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/bola.png" width="50px" alt="">Sobre o Praioou</button>
                    </div>
                </div>
            </div>
            <div class="atalho">
                <div class="titulo-atalho">
                    <p>Nossas Redes</p>
                </div>
                <div class="atalhos">
                    <div class="b">
                        <a href="https://www.instagram.com/eai_praioou?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                            <button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/instagram.png" width="50px" alt="">Instagram</button>
                        </a>
                        <a href="https://www.linkedin.com/in/eai-praioou-b65361304?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BZvBSR%2F7fQteGcIqwqnztvQ%3D%3D"><button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/linkedin.png" width="50px" alt="">Linkedin</button></a>
                    </div>
                </div>
            </div>
            <div class="atalho">
                <div class="titulo-atalho">
                    <p>Contas</p>
                </div>
                <div class="atalhos">
                    <div class="b">
                        <a href="/trocar-conta"><button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/troca.png" width="50px" alt="">Trocar de conta</button></a>
                        <button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/deleteUso.png" width="50px" alt="">Excluir conta</button>
                    </div>
                    <div class="b">
                        <a href="/"><button class="caixa-atalho"> <img src="banhista/perfilConfig/assets/img/exit.png" width="50px" alt="">Sair do Aplicativo</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>