<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/AMBULANTE/PADRAO/img/iconWeb.svg">
    <link rel="stylesheet" href="/ambulante/padrao/style.css">
    <link rel="stylesheet" href="sac/problemas/style.css">
    <title>FAQ</title>
</head>
<body>

    <header class="navSup">
        <a onclick="window.history.back()"><img src="/ambulante/padrao/img/voltar.png" id="voltar"></a>
    </header>

    <img src="/ambulante/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicialB" class="active" id="NavInicio"><img src="/ambulante/padrao/img/inicio.png" >Inicio</a>
            <a href="/dados" class="active" id="NavReserva"> <img src="/ambulante/padrao/img/dados.png" alt="">Dados</a>
            <a href="/CluberJSON/ClubeB" class="active" id="NavPedido"> <img src="/ambulante/padrao/img/clube.png" alt="">Clube</a>
            <a href="/comanda" class="active" id="NavPerfil"> <img src="/ambulante/padrao/img/comanda.png" alt="">Comanda</a>
            <a href="/perfilB" class="active" id="NavPerfil" style="color: #008B92;"> <img src="/ambulante/padrao/img/perfil-colorido.png" alt="">Perfil</a>
        </nav>
    </div>
    <section class="total">
        <div class="fundo"></div>
        <div class="conteudo">
            <div class="topo">
                <h2>Problemas com a Plataforma</h2>
                <p>Sentimos muito pelo inconveninte, por favor, relate o problema que está acontecendo</p>
            </div>
            <form action="" class="form">
                <div class="espacamento">
                    <span>Nome completo</span>
                    <input type="text" name="nome" id="" placeholder="Digite aqui seu nome">
                </div>
                <div class="espacamento">
                    <span>E-mail</span>
                    <input type="email" name="email" id="" placeholder="Digite aqui seu email de preferência">
                </div>
                <div class="espacamento">                    
                    <span>Relate seu problema</span>
                    <textarea name="problema" id="" maxlength="5000" rows="10" placeholder="Descreva de forma detalhada o ocorrido..."></textarea>
                </div>
            </form>
            <button class="btnEnviar">Enviar</button>
        </div>
    </section>
</body>
</html>