<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/BANHISTA/PADRAO/img/iconWeb.svg">
    <link rel="stylesheet" href="banhista/perfill/assets/style.css">
    <script src="/banhista/perfill/assets/script.js"></script>
    <title>Perfil</title>
</head>

<body>
        
    <header class="navSup">
        <a onclick="window.history.back()"><img src="/banhista/padrao/img/voltar.svg" id="voltar"></a>
    </header>

    <img src="/banhista/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio"><img src="/banhista/padrao/img/inicio.svg" >Início</a>
            <a href="/suasReservas" class="active" id="NavReserva"> <img src="/banhista/padrao/img/reservas.svg" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/banhista/padrao/img/sacola.svg" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil" style="color: #0A9396;"> <img src="/banhista/padrao/img/perfil_colorido.svg" alt="">Perfil</a>
        </nav>
    </div>

    <div class="corpo-1">
        <div class="imgP">
            <img class="foto" src="/uploads/ImageDefault.jpg" alt="Imagem de Perfil">
            <h3 class="nome" id="seuNome" name="seuNome">Mateus Oliveira</h3>
            <h4 class="desde">Praioou desde 2021</h4>
           <a href="/config-perfil"> <button class="btn"><img src="ambulante/perfilB/assets/img/config.png" alt=""> Configurações</button></a>
        </div>
    
        <div class="caixa">
            <div class="container-atalhos">
                <div class="atalhos">
                   <a href="/suasReservas"> <button class="btn-atalho"> <img src="banhista/perfill/assets/img/cadeira.png" alt=""> Reservas</button></a>
                    <button class="btn-atalho" style=" background-color: rgb(90, 90, 90); filter: grayscale(100%);"> <img src="banhista/perfill/assets/img/bandeja.png" alt="">Pedidos</button>
                    <a href="/favoritos"><button class="btn-atalho"> <img src="banhista/perfill/assets/img/favorito.png" alt="">Favoritos</button></a>
                </div>
                <div class="atalhos">
                    <a href="/cupons"><button class="btn-atalho"> <img src="banhista/perfill/assets/img/bilhete.png" alt="">Cupons</button></a>
                    <a href="/TodosClubes"><button class="btn-atalho"> <img src="banhista/perfill/assets/img/coroa.png" alt="">Clubes</button></a>
                    <a href="/historico"><button class="btn-atalho"> <img src="banhista/perfill/assets/img/historico.png" alt="">Historico</button></a>
                </div>
            </div>
            <div class="atalho2">
                <div class="btn-atalho2">
                     <img src="banhista/perfill/assets/img/reservass.png" alt=""> 
                     <div>
                        <p>54</p>
                        <p class="atalho-titu">Reservas Feitas</p>
                     </div>
                </div>
                <div class="btn-atalho2">
                    <img src="banhista/perfill/assets/img/pedidoss.png" alt=""> 
                    <div>
                       <p>54</p>
                       <p class="atalho-titu">pedidos feitos</p>
                    </div>
               </div>
            </div>
            <div class="card">
                <img src="banhista/perfill/assets/img/card-zeca.png" alt="" width="370vw" height="130vw">
           </div>

  <div class="centralize">
    <div class="mode">
        <h3 style="font-size: 4.5vw;">Modo Escuro</h3>
        <div class="sep">
            <input type="checkbox" class="checkbox" id="chk"/>
            <label for="chk" class="labelmode" id="chk">
                <div class="bola"></div>
            </label>
        </div>
    </div>
    
        <div class="tutorial">
            <a href="/TutorialB" style="color: #008B92;"><h3 style="font-size: 4.5vw;">Tutorial do Aplicativo</h3></a>
            <img src="ambulante/perfilB/assets/img/seta.png" alt="">
        </div>
</div>
            <div class="versao">
                <p>Versão 1.2.2.2</p>
            </div>
        </div>
    </div>
    

</body>
</html>