<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/EditarDados/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/banhista/EditarDados/assets/style.css">
    <script src="/banhista/EditarDados/assets/script.js" defer></script>
    <title>Trocar Conta</title>
</head>

<body>
    <header class="navSup">
        <a onclick="window.history.back()"><img src="/banhista/padrao/img/voltar.svg" id="voltar"></a>
    </header>

    <img src="/banhista/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio"><img src="/banhista/padrao/img/inicio.svg" >Início</a>
            <a href="/suasReservas" class="active" id="NavReserva"> <img src="/banhista/padrao/img/reservas.svg" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/banhista/padrao/img/sacola.svg" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/padrao/img/perfil.svg" alt="">Perfil</a>
        </nav>
    </div>

    <h1 class="h1">Seus dados</h1>

    <section class="ajusteC">
        <div class="ajustar">
            <div class="inputA">
                <input type="text" id="nome" placeholder="Mateus">
                <img src="/banhista/EditarDados/assets/img/lapis.png" alt="" class="lapis">
            </div>
        </div>

        <div class="ajustar">
            <div class="inputA">
                <input type="text" id="sobrenome" placeholder="Silva Oliveira">
                <img src="/banhista/EditarDados/assets/img/lapis.png" alt="" class="lapis">
            </div>
        </div>

        <div class="ajustar">
            <div class="inputA">
                <input type="number" id="numero" placeholder="(13) 982028749">
                <img src="/banhista/EditarDados/assets/img/lapis.png" alt="" class="lapis">
            </div>
        </div>
    </section>

    <!--
        <div class="caixa">
        <div class="inputs">
            <div class="input">
                <label for="nome">Nome</label>
                <input 
                    type="text" 
                    id="nome"
                    placeholder="Mateus"
                >
                <img src="/banhista/EditarDados/assets/img/lapis.png" alt="" width="15px" class="lapis-1">
            </div>
            <div class="input">
                <label for="sobrenome">Sobrenome</label>
                <input 
                    type="text" 
                    id="sobrenome"
                    placeholder="Silva Oliveira"
                >
                <img src="/banhista/EditarDados/assets/img/lapis.png" alt="" width="15px" class="lapis-2">
            </div>
            <div class="input-tel">
                <div class="telefone">
                    <label for="numero">Telefone</label>
                    <div class="brasil">
                        <img src="/banhista/EditarDados/assets/img/brasil.png" width="27px">
                        <img src="/banhista/EditarDados/assets/img/seta-baixo.png" width="15px">
                    </div>
                </div>
                <div class="d">
                    <label for=""> </label>
                    <input 
                        type="number" 
                        id="numero"
                        placeholder="(13) 982028749"
                    >
                    <img src="/banhista/EditarDados/assets/img/lapis.png" alt="" width="15px" class="lapis-3">
                </div>
            </div>
        </div>
        <div class="salvar">
            <div class="btn-salvar">
                <p>Salvar</p>
            </div>
        </div>
    </div>
    -->
</body>

</html>