<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/banhista/inicial/assets/img/iconWeb.svg">
    <link rel="stylesheet" href="/banhista/padrao/style.css">
    <link rel="stylesheet" href="/banhista/CardapioEscolhaClube/Assets/style.css">
    <title></title>
</head>
<body>

        <header class="navSup">
            <a onclick="window.history.back()"><img src="/banhista/padrao/img/voltar.svg" id="voltar"></a>
        </header>

        <img src="/banhista/padrao/img/logo.svg" class="logo">

        <div class="imgP">
            <div class="branco">
                <img class="corazon" src="banhista/CardapioEscolhaClube/Assets/img/corazon.png" alt="">
            </div>
            <img class="imgPrincipal" src="banhista/CardapioEscolhaClube/Assets/img/pastel 3.png" alt="">
        </div>

        <div class="ajustettl">
            <h1>Pastel Frito</h1>

            <h2>500 pontos <p>por unidade</p></h2>
        </div>

        <hr/>

        <div class="desc">
            <p>Pasteis deliciosos feito com amor</p>
        </div>

        <div class="tempoEspera">
            <p>Tempo de espera:</p>
            <p class="min">25 min</p>
        </div>

        <hr/>

        <textarea name="obs" id="obss" placeholder="Adicionar observação"></textarea>

        <div class="qtd">
            <p>Quantidade</p>

            <div class="btnAdd">
                <div onclick="decrement()" class="MM">-</div>
                <div class="counter" id="counter">0</div>
                <div onclick="increment()" class="MM">+</div>
            </div>
        </div>

        <div class="ajsp">
            <h2>Total de pontos:</h2>
            <p>1000 pontos</p>
        </div>

        <div class="add">
            <p>Adicionar</p>
        </div>

        <script src="banhista/CardapioEscolhaClube/assets/script.js"></script>
</body>
</html>