@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #eaf6ff;
  background-image: url(img/fundooo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0;
  margin: 0;
}

body.dark {
  background-image: url(img/Group\ 138.svg);
  color: rgb(255, 255, 255);
  background-color: #282828;

  .caixa-atalho {
    background-color: #3a3a3a;
    border: 2px solid #fff;
    color: #fff;
  }
  .Sidebox {
    background-color: #3a3a3a;
    border: 2px solid #fff;
  }
  .Lowbox {
    background-color: #3a3a3a;
    border: 2px solid #fff;
  }
}

.logo {
  position: absolute;
  z-index: 2;
  width: 25vw;
  left: 50%;
  top: 5vw;
  transform: translate(-50%);
}

.Clube {
  margin-top: 1vw;
  margin-right: 4vw;
  width: 10vw;
}

.navbar {
  position: fixed;
  z-index: 4;
  bottom: 3vw;
  width: 98%;
  background-color: #ffffff;
  display: flex;
  border-radius: 5vw;
  justify-content: space-around;
  padding: 2vw 0;
  left: 1vw;
  border: solid 1px #cccccc;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.navbar a {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-align: center;
  font-size: 4vw;
}

.navbar .active img {
  width: 7vw;
}

#NavInicio {
  color: #008b92;
}

#voltar {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 10vw;
  margin: 2vw;
}

.navSup {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.caixa {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  margin-top: 26%;
}

.profile {
  width: 100%;
  display: flex;
  margin-left: 1.7vw;
  margin-top: 5vw;
}

.minhas-infos {
  margin-top: 13vw;
}

.minhas-infos p {
  margin: 0 0 1.4vw 0;
}

.editar-dados {
  display: flex;
  align-items: center;
  color: #0a9396;
  margin-left: 3vw;
}

.nome {
  font-size: 6vw;
  font-weight: 600;
}

.atalho {
  display: flex;
  flex-direction: column;
  margin-bottom: 7vw;
  margin-top: 5vw;
}

.titulo-atalho {
  margin-left: -4vw;
  font-weight: bold;
  font-size: 5vw;
}

.titulo-atalho p {
  margin: 3vw 0 6vw 0;
}

.atalhos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7vw;
}

.b {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}

.botoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16vw;
}

.caixa-atalho {
  width: 37vw;
  padding: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  background-color: #ffffff;
  border: #00404a 1px solid;
  color: #00404a;
  font-weight: 600;
  gap: 3vw;
  box-sizing: border-box;
}
