section{
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
}

.blur{
    background-color: #84898C;
    height: 100vh;
    width: 100%;
    opacity: .9;
}

#parte1 {
    width: 100%;
    z-index: 2;
    position: absolute;
}

img{
    width: 100%;
}

.fundo{
    width: 100%;
    object-fit: cover;
    height: 100vh;
    object-position: top;
}

.fundoSp{
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 178vh;
}

.CardP1 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 27vw;
}

.baseP1 {
    width: 95%;
    height: 35vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

p {
    width: 95%;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 4vw;
}

.pontos {
    width: 20vw;
}

.DownT {
    display: flex;
    align-items: center;
    gap: 4vw;
    justify-content: end;
    width: 95%;
    position: absolute;
    bottom: 2vw;
    right: 6vw;
}

.imgSeta {
    width: 6vw;
}

.imgCoquinhoP1 {
    position: absolute;
    left: -1vw;
    top: -16vw;
    width: 30vw;
}

#btnTutorial {
    width: 50vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#parte2 {
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.baseP2 {
    width: 95%;
    height: 40vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

.imgCoquinhoP2 {
    position: absolute;
    left: -1vw;
    top: -18vw;
    width: 29vw;
}

#parte3 {
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.baseP3{
    width: 95%;
    height: 36vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

.imgCoquinhoP3 {
    position: absolute;
    left: 0vw;
    top: -20vw;
    width: 30vw;
}

#parte4{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP4{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 110vw;
}

.imgCoquinhoP4{
    position: absolute;
    left: 0vw;
    top: -20vw;
    width: 30vw;
}

#parte5{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP5{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 20vw;
}

.baseP5{
    width: 95%;
    height: 36vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

.imgCoquinhoP5{
    position: absolute;
    left: 0vw;
    top: -17vw;
    width: 30vw;
}

#parte6{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP6{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 25vw;
}

#parte7{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP7{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 20vw;
}

#parte8{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP8{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 73vw;
}

.baseP8{
    width: 95%;
    height: 40vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

.imgCoquinhoP8{
    position: absolute;
    left: 0vw;
    top: -19vw;
    width: 30vw;
}

#parte9{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP9{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 44vw;
}

#parte10{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP10{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 47vw;
}

.imgCoquinhoP10{
    position: absolute;
    left: 0vw;
    top: -20vw;
    width: 30vw;
}

#parte11{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP11{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 44vw;
}

#parte12{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP12{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 44vw;
}

#parte13{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP13{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 27vw;
}

#parte14{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP14{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 116vw;
}

#parte15{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP15{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 47vw;
}

.baseP15{
    width: 95%;
    height: 40vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

.imgCoquinhoP15{
    position: absolute;
    left: 0vw;
    top: -20vw;
    width: 30vw;
}

#parte16{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP16{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 45vw;
}

.baseP16{
    width: 95%;
    height: 42vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

.baseP16 p{
    width: 95%;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 2vw;
}

.imgCoquinhoP16{
    position: absolute;
    left: 0vw;
    top: -21vw;
    width: 30vw;
}

#parte17{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP17{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 22vw;
}

.baseP17{
    width: 95%;
    height: 42vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

.baseP17 p{
    width: 95%;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 1vw;
}

.imgCoquinhoP17{
    position: absolute;
    left: 0vw;
    top: -22vw;
    width: 30vw;
}

#parte18{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP18{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 88vw;
}

.baseP18{
    width: 95%;
    height: 40vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

.baseP18{
    width: 95%;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 0vw;
}

.baseP18 p{
    width: 95%;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 0vw;
}

.imgCoquinhoP18{
    position: absolute;
    left: 0vw;
    top: -23vw;
    width: 30vw;
}

#parte19{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP19{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 40vw;
}

.imgCoquinhoP19{
    position: absolute;
    left: -1vw;
    top: -20vw;
    width: 30vw;
}

#parte20{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP20{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 25vw;
}

.baseP20{
    width: 95%;
    height: 41vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}
.imgCoquinhoP20{
    position: absolute;
    left: -1vw;
    top: -23vw;
    width: 30vw;
}

#parte21{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP21{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 40vw;
}

#parte22{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP22{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 28vw;
}

.imgCoquinhoP22{
    position: absolute;
    left: 0vw;
    top: -23vw;
    width: 30vw;
}

.txt22{
    width: 95%;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 0;
}

#parte23{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP23{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 30vw;
}

.baseP23{
    width: 95%;
    height: 38vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

#parte24{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP24{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 27vw;
}

#parte25{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP25{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 29vw;
}

.baseP25{
    width: 95%;
    height: 33vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

#parte26{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP26{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 26vw;
}

.imgCoquinhoP26{
    position: absolute;
    left: 0vw;
    top: -20vw;
    width: 30vw;
}

#parte27{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.imgCoquinhoP27{
    position: absolute;
    left: 0vw;
    top: -20vw;
    width: 30vw;
}

.CardP27{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 27vw;
}

.baseP27{
    width: 95%;
    height: 40vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

#parte28{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

#parte29{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP28{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 95vw;
}

.CardP29{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 57vw;
}

#parte30{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP30{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: -135vw;
}

.imgCoquinhoP30{
    position: absolute;
    left: -1vw;
    top: -21vw;
    width: 30vw;
}

#parte31{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
}

.CardP31{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 28vw;
}

.imgCoquinhoP31{
    position: absolute;
    left: 0vw;
    top: -19vw;
    width: 30vw;
}

.baseP31{
    width: 95%;
    height: 40vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1vw;
    border-color: #0A9396;
    border-radius: 5vw;
}

.txt31{
    width: 95%;
    text-align: center;
    font-size: 3.5vw;
    margin-top: 2vw;
}

#btnConcluido{
    border: .1vw solid #00404A;
    border-radius: 1vw;
    color: #00404A;
    padding: 1vw 5vw 1vw 5vw;
    font-weight: 600;
    font-size: 4vw;
}