@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: rgb(233, 246, 255, 0.4);
    background-image: url(img/Teste1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
}

.logo {
    position: absolute;
    z-index: 2;
    width: 25vw;
    left: 50%;
    top: 5vw;
    transform: translate(-50%);
}

.navbar {
    position: fixed;
    z-index: 4;
    bottom: 3vw;
    width: 98%;
    background-color: #ffffff;
    display: flex;
    border-radius: 5vw;
    justify-content: space-around;
    padding: 2vw 0;
    left: 1vw;
    border: solid 1px #CCCCCC;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }
  
.navbar a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size: 4vw;
}

.navbar .active img{
    width: 7vw;
}

#NavInicio {
  color: #008B92;  
}

#voltar {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 10vw;
    margin: 2vw;
}

.navSup{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 32%;
}

.texto{
    padding-left: 6vw;
}

.texto h1{
    font-family: "Montserrat", sans-serif;
    font-size: 7vw;
    color: #ffffff;
}

.caixa{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    background-color: #ffffff;
    border-radius: 10vw;
}

.inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vw;
    gap: 6vw;
}

input{
    padding: 1.7vw;
    border: #CCCCCC 1px solid;
    border-radius: 1.5vw;
    font-weight: 600;
}

label{
    color: #515151;
    font-weight: 600;
    font-size: 3.5vw;
}

.input{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.input-tel{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
}

.brasil{
    border: #CCCCCC 1px solid;
    border-radius: 1.5vw;
    padding: 0.5vw;
    width: 15vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.telefone{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.d{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.salvar{
    display: flex;
    justify-content: center;
    margin-top: 30vw;
}

.btn-salvar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00404A;
    width: 50vw;
    padding: 2vw;
    border-radius: 5vw;
    color: #ffffff;
}

.btn-salvar p{
    margin: 0;
    font-size: 6vw;
}

.lapis-1, .lapis-2, .lapis-3{
    position: absolute;
    left: 83%;
    top: 37.3%;
}

.lapis-2{
    top: 47.7%;
}


.lapis-3{
    top: 57.9%;
}