<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="banhista/TodosClubes/assets/style.css">
    <link rel="shortcut icon" type="imagex/png" href="/BANHISTA/PADRAO/img/iconWeb.svg">
    <script src="banhista/TodosClubes/assets/script.js"></script>
    <title>Seus Clubes</title>
</head>
<body>
    <header class="navSup">
        <a onclick="window.history.back()"><img src="/banhista/padrao/img/voltar.svg" id="voltar"></a>
    </header>

    <img src="/banhista/padrao/img/logo.svg" class="logo">

    <div class="corpo">
        <nav class="navbar">
            <a href="/inicial" class="active" id="NavInicio"><img src="/banhista/cardapio/assets/img/HomeClick.png" >Inicio</a>
            <a href="/suasReservas" class="active" id="NavReserva"> <img src="/banhista/cardapio/assets/img/Reserva.png" alt="">Reserva</a>
            <a href="/Sacola" class="active" id="NavPedido"> <img src="/banhista/cardapio/assets/img/Pedido.png" alt="">Sacola</a>
            <a href="/perfil" class="active" id="NavPerfil"> <img src="/banhista/cardapio/assets/img/Perfil.png" alt="">Perfil</a>
        </nav>
    </div>

<!-- Começo -->

<div class="text">
    <h2>Seus Clubes</h2>
    <h4 class="h4">Todos os seus clubes em um só lugar</h4>
</div>

<div class="caixinha">
    <div class="caixa">
        <img class="img" src="/uploads/clube1.jpeg" alt="">
        <div class="content">
            <div class="textos">
                <h3 style="width: 100%; font-size: 4vw;">Clube Marina</h3>
                <h5 class="h5" style="font-weight: 500;">Entrou em: 2024</h5>
            </div>
            <div class="dados">
                <h4 style="font-size: 2.8vw;">Membros: 64</h4>
                <a href="/clubeInicial"><button class="ver">Ver Mais</button></a>
            </div> 
        </div>
        <div class="qtPontos">
                <h3 style="font-size: 8vw; margin-top: 5vw;">120</h3>
                <h5 style="font-size: 4vw; margin-top: -7vw;">Pontos</h5>
            </div>
    </div>
</div>


</body>
</html>